body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u91912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u91913 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u91914 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u91915 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u91916 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u91917 {
  position:absolute;
  left:68px;
  top:12px;
  width:140px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u91918 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u91919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91919 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u91920 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u91922 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u91923 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u91924 {
  position:absolute;
  left:135px;
  top:220px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u91925 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u91926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u91926 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u91927 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u91928 {
  position:absolute;
  left:349px;
  top:220px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u91929 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u91930_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:67px;
  height:10px;
}
#u91930 {
  position:absolute;
  left:389px;
  top:257px;
  width:62px;
  height:5px;
}
#u91931 {
  position:absolute;
  left:2px;
  top:-6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u91932 {
  position:absolute;
  left:52px;
  top:294px;
  width:52px;
  height:52px;
}
#u91933 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u91934 {
  position:absolute;
  left:247px;
  top:265px;
  width:131px;
  height:19px;
  font-size:16px;
}
#u91935 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u91936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u91937 {
  position:absolute;
  left:114px;
  top:294px;
  width:456px;
  height:108px;
  font-size:20px;
}
#u91938 {
  position:absolute;
  left:2px;
  top:46px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
}
#u91939 {
  position:absolute;
  left:133px;
  top:313px;
  width:418px;
  height:66px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
}
#u91940 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u91941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u91941 {
  position:absolute;
  left:741px;
  top:377px;
  width:41px;
  height:41px;
}
#u91942 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u91943 {
  position:absolute;
  left:514px;
  top:377px;
  width:41px;
  height:41px;
}
#u91944 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91945 {
  position:absolute;
  left:555px;
  top:398px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91945_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u91946 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u91949 {
  position:absolute;
  left:803px;
  top:82px;
  width:614px;
  height:1205px;
}
#u91950 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u91951 {
  position:absolute;
  left:792px;
  top:0px;
  width:50px;
  height:64px;
}
#u91952 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u91953 {
  position:absolute;
  left:861px;
  top:12px;
  width:439px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u91954 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  white-space:nowrap;
}
#u91955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91955 {
  position:absolute;
  left:833px;
  top:178px;
  width:546px;
  height:970px;
}
#u91956 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:886px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91957 {
  position:absolute;
  left:834px;
  top:262px;
  width:544px;
  height:886px;
}
#u91958 {
  position:absolute;
  left:2px;
  top:435px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u91959 {
  position:absolute;
  left:866px;
  top:296px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u91960 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u91961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u91961 {
  position:absolute;
  left:866px;
  top:371px;
  width:480px;
  height:1px;
}
#u91962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFCC00;
}
#u91963 {
  position:absolute;
  left:866px;
  top:337px;
  width:361px;
  height:28px;
  font-size:24px;
  color:#FFCC00;
}
#u91964 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u91965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#66CCFF;
}
#u91965 {
  position:absolute;
  left:866px;
  top:382px;
  width:193px;
  height:19px;
  font-size:16px;
  color:#66CCFF;
}
#u91966 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u91967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u91967 {
  position:absolute;
  left:866px;
  top:411px;
  width:200px;
  height:24px;
  font-size:20px;
}
#u91968 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u91969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u91969 {
  position:absolute;
  left:866px;
  top:445px;
  width:307px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u91970 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u91971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u91971 {
  position:absolute;
  left:866px;
  top:579px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u91972 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u91973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u91973 {
  position:absolute;
  left:866px;
  top:613px;
  width:426px;
  height:19px;
  font-size:16px;
  color:#C9C9C9;
}
#u91974 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u91975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u91975 {
  position:absolute;
  left:866px;
  top:642px;
  width:480px;
  height:38px;
  font-size:16px;
  color:#C9C9C9;
}
#u91976 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u91977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u91977 {
  position:absolute;
  left:866px;
  top:690px;
  width:480px;
  height:19px;
  font-size:16px;
  color:#C9C9C9;
}
#u91978 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u91979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:53px;
}
#u91980 {
  position:absolute;
  left:964px;
  top:497px;
  width:284px;
  height:53px;
  font-size:20px;
}
#u91981 {
  position:absolute;
  left:2px;
  top:18px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u91982 {
  position:absolute;
  left:990px;
  top:505px;
  width:232px;
  height:39px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u91983 {
  position:absolute;
  left:0px;
  top:6px;
  width:232px;
  word-wrap:break-word;
}
#u91984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u91985 {
  position:absolute;
  left:833px;
  top:178px;
  width:546px;
  height:84px;
}
#u91986 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u91987 {
  position:absolute;
  left:949px;
  top:215px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u91988 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u91989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u91989 {
  position:absolute;
  left:845px;
  top:216px;
  width:32px;
  height:32px;
}
#u91990 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u91991 {
  position:absolute;
  left:1166px;
  top:220px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u91992 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u91993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u91993 {
  position:absolute;
  left:866px;
  top:719px;
  width:480px;
  height:19px;
  font-size:16px;
  color:#C9C9C9;
}
#u91994 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
