body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u8968 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u8969 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u8971 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u8972 {
  position:absolute;
  left:70px;
  top:14px;
  width:236px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8974 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u8977 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u8978 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8979 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u8980 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8981 {
  position:absolute;
  left:40px;
  top:261px;
  width:546px;
  height:66px;
}
#u8982 {
  position:absolute;
  left:2px;
  top:25px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u8983 {
  position:absolute;
  left:57px;
  top:280px;
  width:121px;
  height:28px;
  font-size:24px;
}
#u8984 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8985 {
  position:absolute;
  left:415px;
  top:274px;
  width:40px;
  height:40px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8987 {
  position:absolute;
  left:465px;
  top:274px;
  width:40px;
  height:40px;
}
#u8988 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8989 {
  position:absolute;
  left:515px;
  top:274px;
  width:40px;
  height:40px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u8991 {
  position:absolute;
  left:565px;
  top:284px;
  width:12px;
  height:21px;
}
#u8992 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8993 {
  position:absolute;
  left:64px;
  top:337px;
  width:85px;
  height:22px;
  font-size:18px;
}
#u8994 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u8995 {
  position:absolute;
  left:64px;
  top:369px;
  width:498px;
  height:1px;
}
#u8996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u8997 {
  position:absolute;
  left:64px;
  top:380px;
  width:44px;
  height:44px;
}
#u8998 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8999 {
  position:absolute;
  left:118px;
  top:380px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9000 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9001 {
  position:absolute;
  left:187px;
  top:380px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9002 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9003 {
  position:absolute;
  left:118px;
  top:405px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9004 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u9005 {
  position:absolute;
  left:64px;
  top:439px;
  width:498px;
  height:1px;
}
#u9006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9007 {
  position:absolute;
  left:521px;
  top:380px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u9008 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u9009 {
  position:absolute;
  left:64px;
  top:451px;
  width:44px;
  height:44px;
}
#u9010 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9011 {
  position:absolute;
  left:118px;
  top:451px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9012 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9013 {
  position:absolute;
  left:187px;
  top:451px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9015 {
  position:absolute;
  left:118px;
  top:476px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9016 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u9017 {
  position:absolute;
  left:64px;
  top:510px;
  width:498px;
  height:1px;
}
#u9018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9019 {
  position:absolute;
  left:521px;
  top:451px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u9020 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u9021 {
  position:absolute;
  left:64px;
  top:521px;
  width:44px;
  height:44px;
}
#u9022 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9023 {
  position:absolute;
  left:118px;
  top:521px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9025 {
  position:absolute;
  left:187px;
  top:521px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9026 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9027 {
  position:absolute;
  left:118px;
  top:546px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9028 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u9029 {
  position:absolute;
  left:64px;
  top:580px;
  width:498px;
  height:1px;
}
#u9030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9031 {
  position:absolute;
  left:521px;
  top:521px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u9032 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u9033 {
  position:absolute;
  left:64px;
  top:591px;
  width:44px;
  height:44px;
}
#u9034 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9035 {
  position:absolute;
  left:118px;
  top:591px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9036 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9037 {
  position:absolute;
  left:187px;
  top:591px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9038 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9039 {
  position:absolute;
  left:118px;
  top:616px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9040 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u9041 {
  position:absolute;
  left:64px;
  top:650px;
  width:498px;
  height:1px;
}
#u9042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9043 {
  position:absolute;
  left:521px;
  top:591px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u9044 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u9045 {
  position:absolute;
  left:64px;
  top:661px;
  width:44px;
  height:44px;
}
#u9046 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9047 {
  position:absolute;
  left:118px;
  top:661px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9048 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9049 {
  position:absolute;
  left:187px;
  top:661px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9050 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9051 {
  position:absolute;
  left:118px;
  top:686px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9052 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u9053 {
  position:absolute;
  left:64px;
  top:720px;
  width:498px;
  height:1px;
}
#u9054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9055 {
  position:absolute;
  left:521px;
  top:661px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u9056 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9057 {
  position:absolute;
  left:233px;
  top:731px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u9058 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u9059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u9061 {
  position:absolute;
  left:40px;
  top:741px;
  width:546px;
  height:90px;
}
#u9062 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9063 {
  position:absolute;
  left:50px;
  top:756px;
  width:430px;
  height:60px;
  font-size:20px;
}
#u9064 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#1E1E1E;
}
#u9065 {
  position:absolute;
  left:66px;
  top:764px;
  width:387px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#1E1E1E;
}
#u9066 {
  position:absolute;
  left:0px;
  top:10px;
  width:387px;
  word-wrap:break-word;
}
#u9067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u9067 {
  position:absolute;
  left:505px;
  top:756px;
  width:57px;
  height:60px;
  font-size:18px;
  color:#999999;
}
#u9068 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  word-wrap:break-word;
}
#u9069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:317px;
}
#u9069 {
  position:absolute;
  left:40px;
  top:831px;
  width:546px;
  height:317px;
}
#u9070 {
  position:absolute;
  left:2px;
  top:150px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
