body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u12048 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12050 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u12052 {
  position:absolute;
  left:68px;
  top:12px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12054 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u12055 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12056 {
  position:absolute;
  left:40px;
  top:980px;
  width:546px;
  height:168px;
}
#u12057 {
  position:absolute;
  left:2px;
  top:76px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u12058 {
  position:absolute;
  left:40px;
  top:1035px;
  width:546px;
  height:1px;
}
#u12059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u12060 {
  position:absolute;
  left:40px;
  top:1092px;
  width:546px;
  height:1px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12062 {
  position:absolute;
  left:52px;
  top:996px;
  width:210px;
  height:24px;
}
#u12063 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12064 {
  position:absolute;
  left:52px;
  top:1050px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12066 {
  position:absolute;
  left:52px;
  top:1107px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u12068 {
  position:absolute;
  left:550px;
  top:1056px;
  width:22px;
  height:16px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12070 {
  position:absolute;
  left:652px;
  top:123px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12071 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12072 {
  position:absolute;
  left:652px;
  top:170px;
  width:954px;
  height:283px;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u12074 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u12075 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u12076 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u12077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u12077 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u12078 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u12079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u12079 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u12080 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u12081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12081 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:70px;
}
#u12082 {
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u12083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12083 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12084 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12085 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12086 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u12087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12087 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  word-wrap:break-word;
}
#u12089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12089 {
  position:absolute;
  left:0px;
  top:138px;
  width:177px;
  height:70px;
  font-size:22px;
}
#u12090 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12091 {
  position:absolute;
  left:177px;
  top:138px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12092 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12093 {
  position:absolute;
  left:413px;
  top:138px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:23px;
  width:294px;
  word-wrap:break-word;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12095 {
  position:absolute;
  left:711px;
  top:138px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12096 {
  position:absolute;
  left:2px;
  top:23px;
  width:234px;
  word-wrap:break-word;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12097 {
  position:absolute;
  left:0px;
  top:208px;
  width:177px;
  height:70px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u12098 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12099 {
  position:absolute;
  left:177px;
  top:208px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12100 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12101 {
  position:absolute;
  left:413px;
  top:208px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:23px;
  width:294px;
  word-wrap:break-word;
}
#u12103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12103 {
  position:absolute;
  left:711px;
  top:208px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12104 {
  position:absolute;
  left:2px;
  top:23px;
  width:234px;
  word-wrap:break-word;
}
#u12105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12105 {
  position:absolute;
  left:652px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12106 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12107 {
  position:absolute;
  left:652px;
  top:47px;
  width:313px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12108 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u12109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12109 {
  position:absolute;
  left:652px;
  top:85px;
  width:337px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12110 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
