body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:949px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u94968 {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u94969 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u94970 {
  position:absolute;
  left:0px;
  top:47px;
  width:954px;
  height:273px;
}
#u94971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u94971 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u94972 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u94973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u94973 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u94974 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u94975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u94975 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u94976 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u94977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u94977 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u94978 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u94979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:100px;
}
#u94979 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:100px;
  font-size:22px;
}
#u94980 {
  position:absolute;
  left:2px;
  top:42px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:100px;
}
#u94981 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:100px;
  font-size:20px;
}
#u94982 {
  position:absolute;
  left:2px;
  top:42px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:100px;
}
#u94983 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:100px;
  font-size:20px;
}
#u94984 {
  position:absolute;
  left:2px;
  top:42px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:100px;
}
#u94985 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:100px;
  font-size:20px;
}
#u94986 {
  position:absolute;
  left:2px;
  top:42px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:100px;
}
#u94987 {
  position:absolute;
  left:0px;
  top:168px;
  width:177px;
  height:100px;
  font-size:22px;
}
#u94988 {
  position:absolute;
  left:2px;
  top:42px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:100px;
}
#u94989 {
  position:absolute;
  left:177px;
  top:168px;
  width:236px;
  height:100px;
  font-size:20px;
}
#u94990 {
  position:absolute;
  left:2px;
  top:42px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:100px;
}
#u94991 {
  position:absolute;
  left:413px;
  top:168px;
  width:298px;
  height:100px;
  font-size:20px;
}
#u94992 {
  position:absolute;
  left:2px;
  top:42px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:100px;
}
#u94993 {
  position:absolute;
  left:711px;
  top:168px;
  width:238px;
  height:100px;
  font-size:20px;
}
#u94994 {
  position:absolute;
  left:2px;
  top:42px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94995 {
  position:absolute;
  left:228px;
  top:617px;
  width:100px;
  height:42px;
}
#u94996 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u94997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94997 {
  position:absolute;
  left:382px;
  top:481px;
  width:100px;
  height:42px;
}
#u94998 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u94999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94999 {
  position:absolute;
  left:382px;
  top:735px;
  width:100px;
  height:42px;
}
#u95000 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95001 {
  position:absolute;
  left:529px;
  top:444px;
  width:100px;
  height:42px;
}
#u95002 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95003 {
  position:absolute;
  left:529px;
  top:518px;
  width:100px;
  height:42px;
}
#u95004 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95005 {
  position:absolute;
  left:529px;
  top:698px;
  width:100px;
  height:42px;
}
#u95006 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95007 {
  position:absolute;
  left:529px;
  top:772px;
  width:100px;
  height:42px;
}
#u95008 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95009 {
  position:absolute;
  left:679px;
  top:444px;
  width:100px;
  height:42px;
}
#u95010 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95011 {
  position:absolute;
  left:679px;
  top:698px;
  width:100px;
  height:42px;
}
#u95012 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95013 {
  position:absolute;
  left:679px;
  top:518px;
  width:100px;
  height:42px;
}
#u95014 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95015 {
  position:absolute;
  left:679px;
  top:772px;
  width:100px;
  height:42px;
}
#u95016 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u95017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95017 {
  position:absolute;
  left:228px;
  top:874px;
  width:100px;
  height:42px;
}
#u95018 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
