body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u68343 {
  position:absolute;
  left:841px;
  top:82px;
  width:614px;
  height:1205px;
}
#u68344 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u68345 {
  position:absolute;
  left:831px;
  top:0px;
  width:50px;
  height:64px;
}
#u68346 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u68347 {
  position:absolute;
  left:899px;
  top:12px;
  width:653px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u68348 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  white-space:nowrap;
}
#u68349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68349 {
  position:absolute;
  left:871px;
  top:178px;
  width:546px;
  height:970px;
}
#u68350 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u68352 {
  position:absolute;
  left:871px;
  top:177px;
  width:546px;
  height:84px;
}
#u68353 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u68354 {
  position:absolute;
  left:1073px;
  top:217px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u68355 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u68356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68356 {
  position:absolute;
  left:883px;
  top:215px;
  width:32px;
  height:32px;
}
#u68357 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:25px;
}
#u68358 {
  position:absolute;
  left:1388px;
  top:219px;
  width:7px;
  height:25px;
}
#u68359 {
  position:absolute;
  left:2px;
  top:4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68360 {
  position:absolute;
  left:871px;
  top:1072px;
  width:546px;
  height:77px;
}
#u68361 {
  position:absolute;
  left:2px;
  top:30px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68363 {
  position:absolute;
  left:931px;
  top:1080px;
  width:374px;
  height:60px;
  font-size:20px;
}
#u68364 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68365 {
  position:absolute;
  left:880px;
  top:1088px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68366 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68367 {
  position:absolute;
  left:1313px;
  top:1088px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68368 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68369 {
  position:absolute;
  left:1364px;
  top:1088px;
  width:45px;
  height:45px;
}
#u68370 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68372 {
  position:absolute;
  left:871px;
  top:261px;
  width:546px;
  height:126px;
}
#u68373 {
  position:absolute;
  left:2px;
  top:55px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68374 {
  position:absolute;
  left:876px;
  top:267px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68375 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68376 {
  position:absolute;
  left:876px;
  top:296px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68377 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68378 {
  position:absolute;
  left:876px;
  top:325px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68379 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68380 {
  position:absolute;
  left:876px;
  top:355px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68381 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68382 {
  position:absolute;
  left:937px;
  top:267px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68383 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68384 {
  position:absolute;
  left:937px;
  top:296px;
  width:299px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68385 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u68386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68386 {
  position:absolute;
  left:937px;
  top:325px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68387 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68388 {
  position:absolute;
  left:937px;
  top:355px;
  width:308px;
  height:24px;
  font-size:20px;
}
#u68389 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u68390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u68391 {
  position:absolute;
  left:1255px;
  top:309px;
  width:103px;
  height:40px;
  font-size:20px;
}
#u68392 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u68393 {
  position:absolute;
  left:1265px;
  top:309px;
  width:84px;
  height:41px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u68394 {
  position:absolute;
  left:0px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u68395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u68395 {
  position:absolute;
  left:1368px;
  top:309px;
  width:40px;
  height:40px;
}
#u68396 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:8px;
}
#u68397 {
  position:absolute;
  left:1373px;
  top:325px;
  width:30px;
  height:8px;
}
#u68398 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u68400 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u68401 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u68402 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u68403 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u68404 {
  position:absolute;
  left:68px;
  top:12px;
  width:653px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u68405 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  white-space:nowrap;
}
#u68406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68406 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u68407 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u68409 {
  position:absolute;
  left:40px;
  top:177px;
  width:546px;
  height:84px;
}
#u68410 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u68411 {
  position:absolute;
  left:242px;
  top:217px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u68412 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u68413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68413 {
  position:absolute;
  left:52px;
  top:215px;
  width:32px;
  height:32px;
}
#u68414 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:25px;
}
#u68415 {
  position:absolute;
  left:557px;
  top:219px;
  width:7px;
  height:25px;
}
#u68416 {
  position:absolute;
  left:2px;
  top:4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68417 {
  position:absolute;
  left:40px;
  top:1072px;
  width:546px;
  height:77px;
}
#u68418 {
  position:absolute;
  left:2px;
  top:30px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68420 {
  position:absolute;
  left:100px;
  top:1080px;
  width:374px;
  height:60px;
  font-size:20px;
}
#u68421 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68422 {
  position:absolute;
  left:49px;
  top:1088px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68423 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68424 {
  position:absolute;
  left:482px;
  top:1088px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68425 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68426 {
  position:absolute;
  left:533px;
  top:1088px;
  width:45px;
  height:45px;
}
#u68427 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68429 {
  position:absolute;
  left:40px;
  top:261px;
  width:546px;
  height:126px;
}
#u68430 {
  position:absolute;
  left:2px;
  top:55px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68431 {
  position:absolute;
  left:45px;
  top:267px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68432 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68433 {
  position:absolute;
  left:45px;
  top:296px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68434 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68435 {
  position:absolute;
  left:45px;
  top:325px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68436 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68437 {
  position:absolute;
  left:45px;
  top:355px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68438 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68439 {
  position:absolute;
  left:106px;
  top:267px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68440 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68441 {
  position:absolute;
  left:106px;
  top:296px;
  width:299px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68442 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u68443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u68443 {
  position:absolute;
  left:106px;
  top:325px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u68444 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68445 {
  position:absolute;
  left:106px;
  top:355px;
  width:308px;
  height:24px;
  font-size:20px;
}
#u68446 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u68447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u68448 {
  position:absolute;
  left:424px;
  top:309px;
  width:103px;
  height:40px;
  font-size:20px;
}
#u68449 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u68450 {
  position:absolute;
  left:433px;
  top:317px;
  width:84px;
  height:31px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u68451 {
  position:absolute;
  left:0px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u68452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u68452 {
  position:absolute;
  left:537px;
  top:309px;
  width:40px;
  height:40px;
}
#u68453 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:8px;
}
#u68454 {
  position:absolute;
  left:542px;
  top:325px;
  width:30px;
  height:8px;
}
#u68455 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68456 {
  position:absolute;
  left:265px;
  top:395px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u68457 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u68459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68459 {
  position:absolute;
  left:51px;
  top:721px;
  width:525px;
  height:89px;
}
#u68460 {
  position:absolute;
  left:2px;
  top:36px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68461 {
  position:absolute;
  left:61px;
  top:732px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68462 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68463 {
  position:absolute;
  left:61px;
  top:761px;
  width:503px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68464 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u68465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68465 {
  position:absolute;
  left:1092px;
  top:391px;
  width:97px;
  height:24px;
  font-size:20px;
}
#u68466 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u68468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68468 {
  position:absolute;
  left:882px;
  top:616px;
  width:525px;
  height:86px;
}
#u68469 {
  position:absolute;
  left:2px;
  top:35px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68470 {
  position:absolute;
  left:892px;
  top:627px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68471 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68472 {
  position:absolute;
  left:892px;
  top:656px;
  width:503px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68473 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u68475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68475 {
  position:absolute;
  left:882px;
  top:520px;
  width:525px;
  height:86px;
}
#u68476 {
  position:absolute;
  left:2px;
  top:35px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68477 {
  position:absolute;
  left:892px;
  top:560px;
  width:511px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68478 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u68479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68479 {
  position:absolute;
  left:892px;
  top:528px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u68480 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68482 {
  position:absolute;
  left:882px;
  top:422px;
  width:525px;
  height:88px;
}
#u68483 {
  position:absolute;
  left:2px;
  top:36px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68484 {
  position:absolute;
  left:893px;
  top:433px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u68485 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68486 {
  position:absolute;
  left:893px;
  top:462px;
  width:510px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68487 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u68489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68489 {
  position:absolute;
  left:51px;
  top:588px;
  width:525px;
  height:104px;
}
#u68490 {
  position:absolute;
  left:2px;
  top:44px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68491 {
  position:absolute;
  left:61px;
  top:599px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u68492 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68493 {
  position:absolute;
  left:61px;
  top:628px;
  width:503px;
  height:57px;
  font-size:16px;
  color:#AEAEAE;
}
#u68494 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u68495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u68495 {
  position:absolute;
  left:51px;
  top:524px;
  width:55px;
  height:55px;
}
#u68496 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68497 {
  position:absolute;
  left:116px;
  top:524px;
  width:197px;
  height:55px;
  font-size:18px;
}
#u68498 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u68500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68500 {
  position:absolute;
  left:51px;
  top:429px;
  width:525px;
  height:85px;
}
#u68501 {
  position:absolute;
  left:2px;
  top:34px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68502 {
  position:absolute;
  left:61px;
  top:440px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u68503 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68504 {
  position:absolute;
  left:61px;
  top:469px;
  width:506px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68505 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u68507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68507 {
  position:absolute;
  left:51px;
  top:820px;
  width:525px;
  height:90px;
}
#u68508 {
  position:absolute;
  left:2px;
  top:37px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68509 {
  position:absolute;
  left:61px;
  top:831px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u68510 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u68511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68511 {
  position:absolute;
  left:61px;
  top:860px;
  width:508px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68512 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u68514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68514 {
  position:absolute;
  left:880px;
  top:712px;
  width:525px;
  height:90px;
}
#u68515 {
  position:absolute;
  left:2px;
  top:37px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68516 {
  position:absolute;
  left:890px;
  top:723px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u68517 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u68518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u68518 {
  position:absolute;
  left:890px;
  top:752px;
  width:508px;
  height:38px;
  font-size:16px;
  color:#AEAEAE;
}
#u68519 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u68521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68521 {
  position:absolute;
  left:49px;
  top:920px;
  width:525px;
  height:105px;
}
#u68522 {
  position:absolute;
  left:2px;
  top:44px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68523 {
  position:absolute;
  left:59px;
  top:931px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68524 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u68525 {
  position:absolute;
  left:59px;
  top:960px;
  width:508px;
  height:57px;
  font-size:16px;
}
#u68526 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u68528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68528 {
  position:absolute;
  left:880px;
  top:812px;
  width:525px;
  height:107px;
}
#u68529 {
  position:absolute;
  left:2px;
  top:46px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68530 {
  position:absolute;
  left:890px;
  top:823px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u68531 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u68532 {
  position:absolute;
  left:890px;
  top:852px;
  width:508px;
  height:57px;
  font-size:16px;
}
#u68533 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u68534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u68535 {
  position:absolute;
  left:12px;
  top:1449px;
  width:614px;
  height:1205px;
}
#u68536 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u68537 {
  position:absolute;
  left:2px;
  top:1367px;
  width:50px;
  height:64px;
}
#u68538 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u68539 {
  position:absolute;
  left:70px;
  top:1379px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u68540 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u68541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68541 {
  position:absolute;
  left:42px;
  top:1545px;
  width:546px;
  height:970px;
}
#u68542 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u68544 {
  position:absolute;
  left:42px;
  top:1545px;
  width:546px;
  height:84px;
}
#u68545 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u68546 {
  position:absolute;
  left:244px;
  top:1582px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u68547 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u68548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68548 {
  position:absolute;
  left:54px;
  top:1583px;
  width:32px;
  height:32px;
}
#u68549 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u68550 {
  position:absolute;
  left:54px;
  top:1639px;
  width:52px;
  height:52px;
  color:#FFFFFF;
}
#u68551 {
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u68552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68552 {
  position:absolute;
  left:116px;
  top:1639px;
  width:373px;
  height:99px;
}
#u68553 {
  position:absolute;
  left:2px;
  top:42px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u68554 {
  position:absolute;
  left:134px;
  top:1656px;
  width:338px;
  height:66px;
  font-size:28px;
}
#u68555 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u68556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68557 {
  position:absolute;
  left:42px;
  top:2438px;
  width:546px;
  height:77px;
}
#u68558 {
  position:absolute;
  left:2px;
  top:30px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68559 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68560 {
  position:absolute;
  left:102px;
  top:2446px;
  width:374px;
  height:60px;
  font-size:20px;
}
#u68561 {
  position:absolute;
  left:2px;
  top:22px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68562 {
  position:absolute;
  left:51px;
  top:2454px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68563 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68564 {
  position:absolute;
  left:484px;
  top:2454px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u68565 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u68566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u68566 {
  position:absolute;
  left:535px;
  top:2454px;
  width:45px;
  height:45px;
}
#u68567 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u68568 {
  position:absolute;
  left:321px;
  top:999px;
  width:41px;
  height:41px;
}
#u68569 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u68570 {
  position:absolute;
  left:321px;
  top:1390px;
  width:41px;
  height:41px;
}
#u68571 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68572 {
  position:absolute;
  left:342px;
  top:1040px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68572_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:354px;
}
#u68573 {
  position:absolute;
  left:-50px;
  top:167px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u68574 {
  position:absolute;
  left:1098px;
  top:888px;
  width:41px;
  height:41px;
}
#u68575 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68576 {
  position:absolute;
  left:1119px;
  top:929px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68576_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:486px;
}
#u68576_seg1 {
  position:absolute;
  left:-757px;
  top:478px;
  width:761px;
  height:8px;
}
#u68577 {
  position:absolute;
  left:-188px;
  top:474px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
