body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u75330 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u75331 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u75332 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u75333 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u75334 {
  position:absolute;
  left:68px;
  top:12px;
  width:300px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u75335 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u75336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75336 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u75337 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u75339 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u75340 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:147px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u75341 {
  position:absolute;
  left:531px;
  top:769px;
  width:39px;
  height:147px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u75342 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u75343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75343 {
  position:absolute;
  left:433px;
  top:194px;
  width:137px;
  height:236px;
}
#u75344 {
  position:absolute;
  left:2px;
  top:110px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:227px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u75345 {
  position:absolute;
  left:437px;
  top:198px;
  width:128px;
  height:227px;
  font-size:18px;
  color:#FFFFFF;
}
#u75346 {
  position:absolute;
  left:2px;
  top:80px;
  width:124px;
  word-wrap:break-word;
}
#u75347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u75347 {
  position:absolute;
  left:54px;
  top:194px;
  width:114px;
  height:37px;
  font-size:28px;
  color:#FFFFFF;
}
#u75348 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u75349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u75349 {
  position:absolute;
  left:54px;
  top:232px;
  width:94px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u75350 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u75351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u75352 {
  position:absolute;
  left:173px;
  top:201px;
  width:48px;
  height:24px;
}
#u75353 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u75354 {
  position:absolute;
  left:176px;
  top:208px;
  width:42px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u75355 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u75356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75356 {
  position:absolute;
  left:54px;
  top:260px;
  width:62px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75357 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u75358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75358 {
  position:absolute;
  left:126px;
  top:260px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75359 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u75360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75360 {
  position:absolute;
  left:476px;
  top:390px;
  width:55px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75361 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u75362_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:9px;
}
#u75362 {
  position:absolute;
  left:433px;
  top:194px;
  width:137px;
  height:4px;
  color:#FF99CC;
}
#u75363 {
  position:absolute;
  left:2px;
  top:-6px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75364_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:63px;
}
#u75364 {
  position:absolute;
  left:566px;
  top:194px;
  width:4px;
  height:58px;
}
#u75365 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75369 {
  position:absolute;
  left:85px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75370 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75371 {
  position:absolute;
  left:88px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75372 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75374 {
  position:absolute;
  left:185px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75375 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75376 {
  position:absolute;
  left:188px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75377 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75378 {
  position:absolute;
  left:92px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75379 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75380 {
  position:absolute;
  left:192px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75381 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75383 {
  position:absolute;
  left:485px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75384 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75385 {
  position:absolute;
  left:488px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75386 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75387 {
  position:absolute;
  left:492px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75388 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75390 {
  position:absolute;
  left:387px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75391 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75392 {
  position:absolute;
  left:390px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75393 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75394 {
  position:absolute;
  left:394px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75395 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75397 {
  position:absolute;
  left:287px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75398 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75399 {
  position:absolute;
  left:290px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75400 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75401 {
  position:absolute;
  left:294px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75402 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u75403 {
  position:absolute;
  left:59px;
  top:1006px;
  width:42px;
  height:42px;
  font-size:20px;
  color:#FFFFFF;
}
#u75404 {
  position:absolute;
  left:2px;
  top:9px;
  width:38px;
  word-wrap:break-word;
}
#u75405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u75406 {
  position:absolute;
  left:858px;
  top:82px;
  width:614px;
  height:1205px;
}
#u75407 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u75408 {
  position:absolute;
  left:848px;
  top:0px;
  width:50px;
  height:64px;
}
#u75409 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u75410 {
  position:absolute;
  left:916px;
  top:12px;
  width:300px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u75411 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u75412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75412 {
  position:absolute;
  left:888px;
  top:178px;
  width:546px;
  height:970px;
}
#u75413 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u75415 {
  position:absolute;
  left:888px;
  top:178px;
  width:546px;
  height:970px;
}
#u75416 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:147px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u75417 {
  position:absolute;
  left:1379px;
  top:769px;
  width:39px;
  height:147px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u75418 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u75419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75419 {
  position:absolute;
  left:1281px;
  top:194px;
  width:137px;
  height:236px;
}
#u75420 {
  position:absolute;
  left:2px;
  top:110px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:227px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u75421 {
  position:absolute;
  left:1285px;
  top:198px;
  width:128px;
  height:227px;
  font-size:18px;
  color:#FFFFFF;
}
#u75422 {
  position:absolute;
  left:2px;
  top:80px;
  width:124px;
  word-wrap:break-word;
}
#u75423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u75423 {
  position:absolute;
  left:902px;
  top:194px;
  width:114px;
  height:37px;
  font-size:28px;
  color:#FFFFFF;
}
#u75424 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u75425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u75425 {
  position:absolute;
  left:902px;
  top:232px;
  width:94px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u75426 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u75427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u75428 {
  position:absolute;
  left:1021px;
  top:201px;
  width:48px;
  height:24px;
}
#u75429 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u75430 {
  position:absolute;
  left:1024px;
  top:208px;
  width:42px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u75431 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u75432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75432 {
  position:absolute;
  left:902px;
  top:260px;
  width:62px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75433 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u75434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75434 {
  position:absolute;
  left:974px;
  top:260px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75435 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u75436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75436 {
  position:absolute;
  left:1324px;
  top:390px;
  width:55px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75437 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u75438_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:9px;
}
#u75438 {
  position:absolute;
  left:1281px;
  top:194px;
  width:137px;
  height:4px;
  color:#FF99CC;
}
#u75439 {
  position:absolute;
  left:2px;
  top:-6px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75440_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:63px;
}
#u75440 {
  position:absolute;
  left:1414px;
  top:194px;
  width:4px;
  height:58px;
}
#u75441 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75445 {
  position:absolute;
  left:933px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75446 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75447 {
  position:absolute;
  left:936px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75448 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75450 {
  position:absolute;
  left:1033px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75451 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75452 {
  position:absolute;
  left:1036px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75453 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75454 {
  position:absolute;
  left:940px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75455 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75456 {
  position:absolute;
  left:1040px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75457 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75459 {
  position:absolute;
  left:1333px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75460 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75461 {
  position:absolute;
  left:1336px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75462 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75463 {
  position:absolute;
  left:1340px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75464 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75466 {
  position:absolute;
  left:1235px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75467 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75468 {
  position:absolute;
  left:1238px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75469 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75470 {
  position:absolute;
  left:1242px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75471 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u75473 {
  position:absolute;
  left:1135px;
  top:1058px;
  width:55px;
  height:39px;
}
#u75474 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75475 {
  position:absolute;
  left:1138px;
  top:1069px;
  width:49px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u75476 {
  position:absolute;
  left:0px;
  top:-6px;
  width:49px;
  word-wrap:break-word;
}
#u75477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F2F2F2;
}
#u75477 {
  position:absolute;
  left:1142px;
  top:1102px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#F2F2F2;
}
#u75478 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u75479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u75479 {
  position:absolute;
  left:907px;
  top:1006px;
  width:42px;
  height:42px;
  font-size:20px;
  color:#FFFFFF;
}
#u75480 {
  position:absolute;
  left:2px;
  top:9px;
  width:38px;
  word-wrap:break-word;
}
