body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u12713 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u12714 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12715 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12716 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u12717 {
  position:absolute;
  left:68px;
  top:12px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u12718 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12719 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u12720 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12722 {
  position:absolute;
  left:153px;
  top:420px;
  width:335px;
  height:400px;
}
#u12723 {
  position:absolute;
  left:2px;
  top:192px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u12724 {
  position:absolute;
  left:209px;
  top:656px;
  width:232px;
  height:29px;
  font-size:22px;
}
#u12725 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u12726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12726 {
  position:absolute;
  left:462px;
  top:395px;
  width:50px;
  height:50px;
}
#u12727 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
}
#u12729 {
  position:absolute;
  left:164px;
  top:749px;
  width:313px;
  height:60px;
  font-size:20px;
}
#u12730 {
  position:absolute;
  left:2px;
  top:22px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12731 {
  position:absolute;
  left:193px;
  top:758px;
  width:255px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u12732 {
  position:absolute;
  left:0px;
  top:10px;
  width:255px;
  word-wrap:break-word;
}
#u12733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u12733 {
  position:absolute;
  left:225px;
  top:439px;
  width:200px;
  height:200px;
  font-size:28px;
  color:#FFFFFF;
}
#u12734 {
  position:absolute;
  left:2px;
  top:84px;
  width:196px;
  word-wrap:break-word;
}
#u12735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12735 {
  position:absolute;
  left:268px;
  top:695px;
  width:114px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12736 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u12737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12737 {
  position:absolute;
  left:652px;
  top:131px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12738 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12739 {
  position:absolute;
  left:652px;
  top:178px;
  width:954px;
  height:423px;
}
#u12740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u12740 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u12741 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u12742 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u12743 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u12744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u12744 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u12745 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u12746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u12746 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u12747 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u12748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12748 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:70px;
  font-size:22px;
  color:#000000;
}
#u12749 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12750 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12751 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12752 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12753 {
  position:absolute;
  left:2px;
  top:23px;
  width:294px;
  word-wrap:break-word;
}
#u12754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12754 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12755 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12756 {
  position:absolute;
  left:0px;
  top:138px;
  width:177px;
  height:70px;
  font-size:22px;
  color:#000000;
}
#u12757 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12758 {
  position:absolute;
  left:177px;
  top:138px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12759 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12760 {
  position:absolute;
  left:413px;
  top:138px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12761 {
  position:absolute;
  left:2px;
  top:27px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12762 {
  position:absolute;
  left:711px;
  top:138px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12763 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12764 {
  position:absolute;
  left:0px;
  top:208px;
  width:177px;
  height:70px;
  font-size:22px;
}
#u12765 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u12766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12766 {
  position:absolute;
  left:177px;
  top:208px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12767 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12768 {
  position:absolute;
  left:413px;
  top:208px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12769 {
  position:absolute;
  left:2px;
  top:27px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12770 {
  position:absolute;
  left:711px;
  top:208px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12771 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  word-wrap:break-word;
}
#u12772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12772 {
  position:absolute;
  left:0px;
  top:278px;
  width:177px;
  height:70px;
  font-size:22px;
}
#u12773 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12774 {
  position:absolute;
  left:177px;
  top:278px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12775 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12776 {
  position:absolute;
  left:413px;
  top:278px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12777 {
  position:absolute;
  left:2px;
  top:27px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12778 {
  position:absolute;
  left:711px;
  top:278px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12779 {
  position:absolute;
  left:2px;
  top:23px;
  width:234px;
  word-wrap:break-word;
}
#u12780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12780 {
  position:absolute;
  left:0px;
  top:348px;
  width:177px;
  height:70px;
  font-size:22px;
  color:#000000;
}
#u12781 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12782 {
  position:absolute;
  left:177px;
  top:348px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12783 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12784 {
  position:absolute;
  left:413px;
  top:348px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12785 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u12786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12786 {
  position:absolute;
  left:711px;
  top:348px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12787 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12788 {
  position:absolute;
  left:652px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12789 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12790 {
  position:absolute;
  left:652px;
  top:47px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12791 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12792 {
  position:absolute;
  left:652px;
  top:85px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12793 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
