body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u20137 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u20138 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u20139 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u20140 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u20141 {
  position:absolute;
  left:68px;
  top:12px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u20142 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u20143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20143 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u20144 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20146 {
  position:absolute;
  left:98px;
  top:506px;
  width:430px;
  height:276px;
}
#u20147 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u20148 {
  position:absolute;
  left:98px;
  top:694px;
  width:430px;
  height:1px;
}
#u20149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u20150 {
  position:absolute;
  left:303px;
  top:699px;
  width:1px;
  height:83px;
}
#u20151 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u20152 {
  position:absolute;
  left:98px;
  top:694px;
  width:430px;
  height:1px;
}
#u20153 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u20154 {
  position:absolute;
  left:303px;
  top:699px;
  width:1px;
  height:83px;
}
#u20155 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u20156 {
  position:absolute;
  left:139px;
  top:728px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u20157 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u20158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u20158 {
  position:absolute;
  left:354px;
  top:728px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u20159 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u20160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u20160 {
  position:absolute;
  left:233px;
  top:526px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u20161 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u20162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u20162 {
  position:absolute;
  left:118px;
  top:592px;
  width:380px;
  height:74px;
  font-size:22px;
}
#u20163 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
