body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u47997 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u47998 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u47999 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u48000 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u48001 {
  position:absolute;
  left:70px;
  top:14px;
  width:257px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u48002 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u48003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48003 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u48004 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:444px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48005 {
  position:absolute;
  left:148px;
  top:450px;
  width:339px;
  height:444px;
}
#u48006 {
  position:absolute;
  left:2px;
  top:214px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48007 {
  position:absolute;
  left:459px;
  top:429px;
  width:50px;
  height:50px;
}
#u48008 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
}
#u48010 {
  position:absolute;
  left:160px;
  top:800px;
  width:313px;
  height:60px;
  font-size:20px;
}
#u48011 {
  position:absolute;
  left:2px;
  top:22px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u48012 {
  position:absolute;
  left:189px;
  top:809px;
  width:255px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u48013 {
  position:absolute;
  left:0px;
  top:10px;
  width:255px;
  word-wrap:break-word;
}
#u48014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u48014 {
  position:absolute;
  left:221px;
  top:478px;
  width:200px;
  height:200px;
  font-size:28px;
  color:#FFFFFF;
}
#u48015 {
  position:absolute;
  left:2px;
  top:84px;
  width:196px;
  word-wrap:break-word;
}
#u48016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u48016 {
  position:absolute;
  left:183px;
  top:688px;
  width:281px;
  height:48px;
  font-size:20px;
  text-align:center;
}
#u48017 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u48018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u48018 {
  position:absolute;
  left:220px;
  top:746px;
  width:193px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u48019 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u48020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
  text-align:center;
}
#u48020 {
  position:absolute;
  left:205px;
  top:864px;
  width:224px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
  text-align:center;
}
#u48021 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u48022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u48023 {
  position:absolute;
  left:775px;
  top:82px;
  width:614px;
  height:1205px;
}
#u48024 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u48025 {
  position:absolute;
  left:765px;
  top:0px;
  width:50px;
  height:64px;
}
#u48026 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u48027 {
  position:absolute;
  left:833px;
  top:12px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u48028 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u48029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48029 {
  position:absolute;
  left:805px;
  top:178px;
  width:546px;
  height:970px;
}
#u48030 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u48031 {
  position:absolute;
  left:938px;
  top:602px;
  width:289px;
  height:83px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u48032 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u48033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48033 {
  position:absolute;
  left:447px;
  top:785px;
  width:41px;
  height:41px;
}
#u48034 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48035 {
  position:absolute;
  left:724px;
  top:785px;
  width:41px;
  height:41px;
}
#u48036 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48037 {
  position:absolute;
  left:488px;
  top:806px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48037_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:240px;
  height:8px;
}
#u48038 {
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u48041 {
  position:absolute;
  left:10px;
  top:1476px;
  width:614px;
  height:1205px;
}
#u48042 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u48043 {
  position:absolute;
  left:0px;
  top:1394px;
  width:50px;
  height:64px;
}
#u48044 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u48045 {
  position:absolute;
  left:68px;
  top:1406px;
  width:385px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u48046 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u48047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48047 {
  position:absolute;
  left:40px;
  top:1572px;
  width:546px;
  height:970px;
}
#u48048 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u48050 {
  position:absolute;
  left:41px;
  top:1572px;
  width:546px;
  height:84px;
}
#u48051 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u48052 {
  position:absolute;
  left:246px;
  top:1598px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u48053 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u48054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48054 {
  position:absolute;
  left:359px;
  top:1603px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48055 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u48056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u48056 {
  position:absolute;
  left:83px;
  top:1604px;
  width:78px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u48057 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u48058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u48058 {
  position:absolute;
  left:54px;
  top:1600px;
  width:29px;
  height:29px;
}
#u48059 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u48060 {
  position:absolute;
  left:509px;
  top:1604px;
  width:78px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u48061 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u48062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48062 {
  position:absolute;
  left:196px;
  top:1603px;
  width:78px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48063 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u48064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48064 {
  position:absolute;
  left:54px;
  top:1975px;
  width:255px;
  height:66px;
}
#u48065 {
  position:absolute;
  left:2px;
  top:25px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48066 {
  position:absolute;
  left:62px;
  top:1981px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48067 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u48068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48068 {
  position:absolute;
  left:62px;
  top:2009px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48069 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u48070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48070 {
  position:absolute;
  left:234px;
  top:2009px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48071 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u48073 {
  position:absolute;
  left:246px;
  top:1983px;
  width:53px;
  height:20px;
}
#u48074 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48075 {
  position:absolute;
  left:250px;
  top:1989px;
  width:47px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48076 {
  position:absolute;
  left:0px;
  top:-3px;
  width:47px;
  word-wrap:break-word;
}
#u48077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u48078 {
  position:absolute;
  left:126px;
  top:1985px;
  width:32px;
  height:20px;
}
#u48079 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48080 {
  position:absolute;
  left:128px;
  top:1991px;
  width:28px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48081 {
  position:absolute;
  left:0px;
  top:-3px;
  width:28px;
  word-wrap:break-word;
}
#u48082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:309px;
}
#u48082 {
  position:absolute;
  left:54px;
  top:1667px;
  width:255px;
  height:309px;
}
#u48083 {
  position:absolute;
  left:2px;
  top:146px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48084 {
  position:absolute;
  left:319px;
  top:1974px;
  width:255px;
  height:66px;
}
#u48085 {
  position:absolute;
  left:2px;
  top:25px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48086 {
  position:absolute;
  left:327px;
  top:1980px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48087 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u48088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48088 {
  position:absolute;
  left:327px;
  top:2008px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48089 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u48090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48090 {
  position:absolute;
  left:499px;
  top:2008px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48091 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u48093 {
  position:absolute;
  left:511px;
  top:1982px;
  width:53px;
  height:20px;
}
#u48094 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48095 {
  position:absolute;
  left:515px;
  top:1988px;
  width:47px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48096 {
  position:absolute;
  left:0px;
  top:-3px;
  width:47px;
  word-wrap:break-word;
}
#u48097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u48098 {
  position:absolute;
  left:391px;
  top:1984px;
  width:32px;
  height:20px;
}
#u48099 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48100 {
  position:absolute;
  left:393px;
  top:1990px;
  width:28px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48101 {
  position:absolute;
  left:0px;
  top:-3px;
  width:28px;
  word-wrap:break-word;
}
#u48102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:309px;
}
#u48102 {
  position:absolute;
  left:319px;
  top:1666px;
  width:255px;
  height:309px;
}
#u48103 {
  position:absolute;
  left:2px;
  top:146px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48104 {
  position:absolute;
  left:54px;
  top:2359px;
  width:255px;
  height:66px;
}
#u48105 {
  position:absolute;
  left:2px;
  top:25px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48106 {
  position:absolute;
  left:62px;
  top:2365px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48107 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u48108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48108 {
  position:absolute;
  left:62px;
  top:2393px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48109 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u48110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48110 {
  position:absolute;
  left:234px;
  top:2393px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48111 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u48113 {
  position:absolute;
  left:246px;
  top:2367px;
  width:53px;
  height:20px;
}
#u48114 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48115 {
  position:absolute;
  left:250px;
  top:2373px;
  width:47px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48116 {
  position:absolute;
  left:0px;
  top:-3px;
  width:47px;
  word-wrap:break-word;
}
#u48117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u48118 {
  position:absolute;
  left:126px;
  top:2369px;
  width:32px;
  height:20px;
}
#u48119 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48120 {
  position:absolute;
  left:128px;
  top:2375px;
  width:28px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48121 {
  position:absolute;
  left:0px;
  top:-3px;
  width:28px;
  word-wrap:break-word;
}
#u48122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:309px;
}
#u48122 {
  position:absolute;
  left:54px;
  top:2051px;
  width:255px;
  height:309px;
}
#u48123 {
  position:absolute;
  left:2px;
  top:146px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48124 {
  position:absolute;
  left:319px;
  top:2358px;
  width:255px;
  height:66px;
}
#u48125 {
  position:absolute;
  left:2px;
  top:25px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48126 {
  position:absolute;
  left:327px;
  top:2364px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48127 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u48128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48128 {
  position:absolute;
  left:327px;
  top:2392px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48129 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u48130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u48130 {
  position:absolute;
  left:499px;
  top:2392px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u48131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u48133 {
  position:absolute;
  left:511px;
  top:2366px;
  width:53px;
  height:20px;
}
#u48134 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48135 {
  position:absolute;
  left:515px;
  top:2372px;
  width:47px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48136 {
  position:absolute;
  left:0px;
  top:-3px;
  width:47px;
  word-wrap:break-word;
}
#u48137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u48138 {
  position:absolute;
  left:391px;
  top:2368px;
  width:32px;
  height:20px;
}
#u48139 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48140 {
  position:absolute;
  left:393px;
  top:2374px;
  width:28px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u48141 {
  position:absolute;
  left:0px;
  top:-3px;
  width:28px;
  word-wrap:break-word;
}
#u48142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:309px;
}
#u48142 {
  position:absolute;
  left:319px;
  top:2050px;
  width:255px;
  height:309px;
}
#u48143 {
  position:absolute;
  left:2px;
  top:146px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48144 {
  position:absolute;
  left:141px;
  top:1810px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u48145 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48146 {
  position:absolute;
  left:406px;
  top:1810px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u48147 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48148 {
  position:absolute;
  left:406px;
  top:2193px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u48149 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48150 {
  position:absolute;
  left:141px;
  top:2194px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u48151 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:90px;
}
#u48153 {
  position:absolute;
  left:40px;
  top:2452px;
  width:547px;
  height:90px;
}
#u48154 {
  position:absolute;
  left:2px;
  top:37px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u48155 {
  position:absolute;
  left:40px;
  top:2452px;
  width:110px;
  height:90px;
}
#u48156 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48158 {
  position:absolute;
  left:72px;
  top:2457px;
  width:50px;
  height:50px;
}
#u48159 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48160 {
  position:absolute;
  left:75px;
  top:2510px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48161 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48163 {
  position:absolute;
  left:178px;
  top:2457px;
  width:50px;
  height:50px;
}
#u48164 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48165 {
  position:absolute;
  left:183px;
  top:2510px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48166 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48168 {
  position:absolute;
  left:284px;
  top:2457px;
  width:50px;
  height:50px;
}
#u48169 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48170 {
  position:absolute;
  left:287px;
  top:2510px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48171 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48173 {
  position:absolute;
  left:497px;
  top:2457px;
  width:50px;
  height:50px;
}
#u48174 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48175 {
  position:absolute;
  left:502px;
  top:2510px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48176 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48178 {
  position:absolute;
  left:391px;
  top:2457px;
  width:50px;
  height:50px;
}
#u48179 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u48180 {
  position:absolute;
  left:396px;
  top:2510px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u48181 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u48182 {
  position:absolute;
  left:505px;
  top:2369px;
  width:69px;
  height:69px;
}
#u48183 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u48184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48184 {
  position:absolute;
  left:481px;
  top:445px;
  width:41px;
  height:41px;
}
#u48185 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48186 {
  position:absolute;
  left:481px;
  top:1415px;
  width:41px;
  height:41px;
}
#u48187 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48188 {
  position:absolute;
  left:502px;
  top:486px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48188_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:933px;
}
#u48189 {
  position:absolute;
  left:-50px;
  top:456px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48190 {
  position:absolute;
  left:557px;
  top:2384px;
  width:41px;
  height:41px;
}
#u48191 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48192 {
  position:absolute;
  left:583px;
  top:1297px;
  width:41px;
  height:41px;
}
#u48193 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48194 {
  position:absolute;
  left:604px;
  top:1338px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48194_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1071px;
}
#u48194_seg1 {
  position:absolute;
  left:-6px;
  top:1063px;
  width:10px;
  height:8px;
}
#u48195 {
  position:absolute;
  left:-50px;
  top:528px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
