body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u127929 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u127930 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u127931 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u127932 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u127933 {
  position:absolute;
  left:68px;
  top:12px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u127934 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u127935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127935 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u127936 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u127938 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u127939 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u127940 {
  position:absolute;
  left:242px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u127941 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
