body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u17079 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u17080 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17082 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u17083 {
  position:absolute;
  left:70px;
  top:14px;
  width:204px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u17084 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u17085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17085 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u17086 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u17087 {
  position:absolute;
  left:540px;
  top:216px;
  width:33px;
  height:28px;
}
#u17088 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u17090 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u17091 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17092 {
  position:absolute;
  left:242px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17093 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u17094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17094 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u17095 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17096 {
  position:absolute;
  left:40px;
  top:261px;
  width:546px;
  height:47px;
}
#u17097 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17098 {
  position:absolute;
  left:52px;
  top:271px;
  width:134px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17099 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u17100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17100 {
  position:absolute;
  left:477px;
  top:272px;
  width:96px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17101 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u17102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17102 {
  position:absolute;
  left:40px;
  top:307px;
  width:546px;
  height:205px;
}
#u17103 {
  position:absolute;
  left:2px;
  top:94px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC00;
}
#u17104 {
  position:absolute;
  left:52px;
  top:316px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFCC00;
}
#u17105 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:2px;
}
#u17106 {
  position:absolute;
  left:52px;
  top:350px;
  width:534px;
  height:1px;
}
#u17107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17108 {
  position:absolute;
  left:52px;
  top:359px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17109 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:2px;
}
#u17110 {
  position:absolute;
  left:52px;
  top:392px;
  width:534px;
  height:1px;
}
#u17111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17112 {
  position:absolute;
  left:52px;
  top:400px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17113 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:2px;
}
#u17114 {
  position:absolute;
  left:52px;
  top:433px;
  width:534px;
  height:1px;
}
#u17115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17116 {
  position:absolute;
  left:52px;
  top:440px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17117 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:2px;
}
#u17118 {
  position:absolute;
  left:52px;
  top:473px;
  width:534px;
  height:1px;
}
#u17119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
}
#u17120 {
  position:absolute;
  left:52px;
  top:479px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#A1A1A1;
}
#u17121 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u17122 {
  position:absolute;
  left:649px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u17123 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u17124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17124 {
  position:absolute;
  left:649px;
  top:47px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17125 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u17126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17126 {
  position:absolute;
  left:649px;
  top:85px;
  width:321px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17127 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u17128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u17128 {
  position:absolute;
  left:649px;
  top:123px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u17129 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u17130 {
  position:absolute;
  left:649px;
  top:179px;
  width:954px;
  height:913px;
}
#u17131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u17131 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u17132 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u17133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u17133 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u17134 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u17135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u17135 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u17136 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u17137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u17137 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u17138 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u17139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:74px;
}
#u17139 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:74px;
  font-size:20px;
}
#u17140 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  word-wrap:break-word;
}
#u17141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:74px;
}
#u17141 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:74px;
  font-size:20px;
}
#u17142 {
  position:absolute;
  left:2px;
  top:25px;
  width:232px;
  word-wrap:break-word;
}
#u17143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:74px;
}
#u17143 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:74px;
  font-size:20px;
}
#u17144 {
  position:absolute;
  left:2px;
  top:25px;
  width:294px;
  word-wrap:break-word;
}
#u17145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:74px;
}
#u17145 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:74px;
  font-size:20px;
}
#u17146 {
  position:absolute;
  left:2px;
  top:25px;
  width:234px;
  word-wrap:break-word;
}
#u17147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:74px;
}
#u17147 {
  position:absolute;
  left:0px;
  top:142px;
  width:177px;
  height:74px;
  font-size:20px;
}
#u17148 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  word-wrap:break-word;
}
#u17149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:74px;
}
#u17149 {
  position:absolute;
  left:177px;
  top:142px;
  width:236px;
  height:74px;
  font-size:20px;
}
#u17150 {
  position:absolute;
  left:2px;
  top:25px;
  width:232px;
  word-wrap:break-word;
}
#u17151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:74px;
}
#u17151 {
  position:absolute;
  left:413px;
  top:142px;
  width:298px;
  height:74px;
  font-size:20px;
}
#u17152 {
  position:absolute;
  left:2px;
  top:25px;
  width:294px;
  word-wrap:break-word;
}
#u17153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:74px;
}
#u17153 {
  position:absolute;
  left:711px;
  top:142px;
  width:238px;
  height:74px;
  font-size:20px;
}
#u17154 {
  position:absolute;
  left:2px;
  top:25px;
  width:234px;
  word-wrap:break-word;
}
#u17155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:124px;
}
#u17155 {
  position:absolute;
  left:0px;
  top:216px;
  width:177px;
  height:124px;
  font-size:20px;
}
#u17156 {
  position:absolute;
  left:2px;
  top:50px;
  width:173px;
  word-wrap:break-word;
}
#u17157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:124px;
}
#u17157 {
  position:absolute;
  left:177px;
  top:216px;
  width:236px;
  height:124px;
  font-size:20px;
}
#u17158 {
  position:absolute;
  left:2px;
  top:50px;
  width:232px;
  word-wrap:break-word;
}
#u17159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:124px;
}
#u17159 {
  position:absolute;
  left:413px;
  top:216px;
  width:298px;
  height:124px;
  font-size:20px;
}
#u17160 {
  position:absolute;
  left:2px;
  top:38px;
  width:294px;
  word-wrap:break-word;
}
#u17161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:124px;
}
#u17161 {
  position:absolute;
  left:711px;
  top:216px;
  width:238px;
  height:124px;
  font-size:20px;
}
#u17162 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u17163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:124px;
}
#u17163 {
  position:absolute;
  left:0px;
  top:340px;
  width:177px;
  height:124px;
  font-size:20px;
}
#u17164 {
  position:absolute;
  left:2px;
  top:50px;
  width:173px;
  word-wrap:break-word;
}
#u17165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:124px;
}
#u17165 {
  position:absolute;
  left:177px;
  top:340px;
  width:236px;
  height:124px;
  font-size:20px;
}
#u17166 {
  position:absolute;
  left:2px;
  top:50px;
  width:232px;
  word-wrap:break-word;
}
#u17167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:124px;
}
#u17167 {
  position:absolute;
  left:413px;
  top:340px;
  width:298px;
  height:124px;
  font-size:20px;
}
#u17168 {
  position:absolute;
  left:2px;
  top:50px;
  width:294px;
  word-wrap:break-word;
}
#u17169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:124px;
}
#u17169 {
  position:absolute;
  left:711px;
  top:340px;
  width:238px;
  height:124px;
  font-size:20px;
}
#u17170 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u17171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:148px;
}
#u17171 {
  position:absolute;
  left:0px;
  top:464px;
  width:177px;
  height:148px;
  font-size:20px;
}
#u17172 {
  position:absolute;
  left:2px;
  top:62px;
  width:173px;
  word-wrap:break-word;
}
#u17173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:148px;
}
#u17173 {
  position:absolute;
  left:177px;
  top:464px;
  width:236px;
  height:148px;
  font-size:20px;
}
#u17174 {
  position:absolute;
  left:2px;
  top:62px;
  width:232px;
  word-wrap:break-word;
}
#u17175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:148px;
}
#u17175 {
  position:absolute;
  left:413px;
  top:464px;
  width:298px;
  height:148px;
  font-size:20px;
}
#u17176 {
  position:absolute;
  left:2px;
  top:62px;
  width:294px;
  word-wrap:break-word;
}
#u17177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:148px;
}
#u17177 {
  position:absolute;
  left:711px;
  top:464px;
  width:238px;
  height:148px;
  font-size:20px;
}
#u17178 {
  position:absolute;
  left:2px;
  top:2px;
  width:234px;
  word-wrap:break-word;
}
#u17179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:148px;
}
#u17179 {
  position:absolute;
  left:0px;
  top:612px;
  width:177px;
  height:148px;
  font-size:20px;
}
#u17180 {
  position:absolute;
  left:2px;
  top:62px;
  width:173px;
  word-wrap:break-word;
}
#u17181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:148px;
}
#u17181 {
  position:absolute;
  left:177px;
  top:612px;
  width:236px;
  height:148px;
  font-size:20px;
}
#u17182 {
  position:absolute;
  left:2px;
  top:62px;
  width:232px;
  word-wrap:break-word;
}
#u17183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:148px;
}
#u17183 {
  position:absolute;
  left:413px;
  top:612px;
  width:298px;
  height:148px;
  font-size:20px;
}
#u17184 {
  position:absolute;
  left:2px;
  top:62px;
  width:294px;
  word-wrap:break-word;
}
#u17185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:148px;
}
#u17185 {
  position:absolute;
  left:711px;
  top:612px;
  width:238px;
  height:148px;
  font-size:20px;
}
#u17186 {
  position:absolute;
  left:2px;
  top:2px;
  width:234px;
  word-wrap:break-word;
}
#u17187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:148px;
}
#u17187 {
  position:absolute;
  left:0px;
  top:760px;
  width:177px;
  height:148px;
  font-size:20px;
}
#u17188 {
  position:absolute;
  left:2px;
  top:62px;
  width:173px;
  word-wrap:break-word;
}
#u17189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:148px;
}
#u17189 {
  position:absolute;
  left:177px;
  top:760px;
  width:236px;
  height:148px;
  font-size:20px;
}
#u17190 {
  position:absolute;
  left:2px;
  top:62px;
  width:232px;
  word-wrap:break-word;
}
#u17191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:148px;
}
#u17191 {
  position:absolute;
  left:413px;
  top:760px;
  width:298px;
  height:148px;
  font-size:20px;
}
#u17192 {
  position:absolute;
  left:2px;
  top:62px;
  width:294px;
  word-wrap:break-word;
}
#u17193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:148px;
}
#u17193 {
  position:absolute;
  left:711px;
  top:760px;
  width:238px;
  height:148px;
  font-size:20px;
}
#u17194 {
  position:absolute;
  left:2px;
  top:2px;
  width:234px;
  word-wrap:break-word;
}
