body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u59896 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u59897 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u59898 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u59899 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u59900 {
  position:absolute;
  left:70px;
  top:14px;
  width:140px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u59901 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u59902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59902 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u59903 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u59905 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u59906 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u59907 {
  position:absolute;
  left:132px;
  top:204px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u59908 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u59909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u59909 {
  position:absolute;
  left:344px;
  top:204px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u59910 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u59911_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:10px;
}
#u59911 {
  position:absolute;
  left:375px;
  top:256px;
  width:81px;
  height:5px;
  color:#FFFFFF;
}
#u59912 {
  position:absolute;
  left:2px;
  top:-6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59913 {
  position:absolute;
  left:40px;
  top:541px;
  width:546px;
  height:84px;
}
#u59914 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u59915 {
  position:absolute;
  left:51px;
  top:550px;
  width:66px;
  height:66px;
  font-size:16px;
  color:#FFFFFF;
}
#u59916 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u59917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u59917 {
  position:absolute;
  left:127px;
  top:550px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u59918 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u59919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AEAEAE;
}
#u59919 {
  position:absolute;
  left:127px;
  top:588px;
  width:373px;
  height:28px;
  font-size:24px;
  color:#AEAEAE;
}
#u59920 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u59921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u59921 {
  position:absolute;
  left:522px;
  top:555px;
  width:51px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u59922 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u59923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59923 {
  position:absolute;
  left:40px;
  top:261px;
  width:546px;
  height:270px;
}
#u59924 {
  position:absolute;
  left:2px;
  top:127px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u59925 {
  position:absolute;
  left:55px;
  top:330px;
  width:530px;
  height:1px;
  color:#BFCDDA;
}
#u59926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u59927 {
  position:absolute;
  left:56px;
  top:399px;
  width:530px;
  height:1px;
  color:#BFCDDA;
}
#u59928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u59929 {
  position:absolute;
  left:56px;
  top:272px;
  width:46px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u59930 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u59931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u59931 {
  position:absolute;
  left:56px;
  top:342px;
  width:46px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u59932 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u59933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u59933 {
  position:absolute;
  left:56px;
  top:410px;
  width:46px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u59934 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u59935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59935 {
  position:absolute;
  left:112px;
  top:284px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u59936 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u59937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59937 {
  position:absolute;
  left:112px;
  top:354px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u59938 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u59939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59939 {
  position:absolute;
  left:112px;
  top:422px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u59940 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u59941 {
  position:absolute;
  left:545px;
  top:284px;
  width:23px;
  height:22px;
}
#u59942 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u59943 {
  position:absolute;
  left:545px;
  top:354px;
  width:23px;
  height:22px;
}
#u59944 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u59945 {
  position:absolute;
  left:545px;
  top:422px;
  width:23px;
  height:22px;
}
#u59946 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u59947 {
  position:absolute;
  left:294px;
  top:556px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u59948 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u59949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59949 {
  position:absolute;
  left:40px;
  top:624px;
  width:546px;
  height:84px;
}
#u59950 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u59951 {
  position:absolute;
  left:51px;
  top:633px;
  width:66px;
  height:66px;
  font-size:16px;
  color:#FFFFFF;
}
#u59952 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u59953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u59953 {
  position:absolute;
  left:127px;
  top:633px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u59954 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u59955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AEAEAE;
}
#u59955 {
  position:absolute;
  left:127px;
  top:671px;
  width:373px;
  height:28px;
  font-size:24px;
  color:#AEAEAE;
}
#u59956 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u59957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
}
#u59957 {
  position:absolute;
  left:522px;
  top:638px;
  width:51px;
  height:24px;
  font-size:20px;
  color:#AEAEAE;
}
#u59958 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u59959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:90px;
}
#u59960 {
  position:absolute;
  left:39px;
  top:1058px;
  width:547px;
  height:90px;
}
#u59961 {
  position:absolute;
  left:2px;
  top:37px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u59962 {
  position:absolute;
  left:360px;
  top:1058px;
  width:110px;
  height:90px;
}
#u59963 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59965 {
  position:absolute;
  left:71px;
  top:1063px;
  width:50px;
  height:50px;
}
#u59966 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59967 {
  position:absolute;
  left:74px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u59968 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59970 {
  position:absolute;
  left:177px;
  top:1063px;
  width:50px;
  height:50px;
}
#u59971 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59972 {
  position:absolute;
  left:182px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u59973 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59975 {
  position:absolute;
  left:283px;
  top:1063px;
  width:50px;
  height:50px;
}
#u59976 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59977 {
  position:absolute;
  left:286px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u59978 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59980 {
  position:absolute;
  left:496px;
  top:1063px;
  width:50px;
  height:50px;
}
#u59981 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59982 {
  position:absolute;
  left:501px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u59983 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59985 {
  position:absolute;
  left:390px;
  top:1063px;
  width:50px;
  height:50px;
}
#u59986 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u59987 {
  position:absolute;
  left:395px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u59988 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:2px;
}
#u59989 {
  position:absolute;
  left:56px;
  top:466px;
  width:530px;
  height:1px;
  color:#BFCDDA;
}
#u59990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u59991 {
  position:absolute;
  left:56px;
  top:477px;
  width:46px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u59992 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  word-wrap:break-word;
}
#u59993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59993 {
  position:absolute;
  left:112px;
  top:489px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u59994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u59995 {
  position:absolute;
  left:545px;
  top:489px;
  width:23px;
  height:22px;
}
#u59996 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u59997 {
  position:absolute;
  left:244px;
  top:558px;
  width:46px;
  height:19px;
  font-size:11px;
}
#u59998 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u59999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
}
#u59999 {
  position:absolute;
  left:243px;
  top:640px;
  width:46px;
  height:19px;
  font-size:11px;
}
#u60000 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
