body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u12832 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u12833 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12834 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u12835 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u12836 {
  position:absolute;
  left:68px;
  top:12px;
  width:257px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u12837 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u12838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12838 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u12839 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12841 {
  position:absolute;
  left:102px;
  top:520px;
  width:430px;
  height:276px;
}
#u12842 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u12843 {
  position:absolute;
  left:102px;
  top:708px;
  width:430px;
  height:1px;
}
#u12844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u12845 {
  position:absolute;
  left:307px;
  top:713px;
  width:1px;
  height:83px;
}
#u12846 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u12847 {
  position:absolute;
  left:102px;
  top:708px;
  width:430px;
  height:1px;
}
#u12848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u12849 {
  position:absolute;
  left:307px;
  top:713px;
  width:1px;
  height:83px;
}
#u12850 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u12851 {
  position:absolute;
  left:143px;
  top:742px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u12852 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#1E1E1E;
  text-align:center;
}
#u12853 {
  position:absolute;
  left:358px;
  top:742px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#1E1E1E;
  text-align:center;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u12855 {
  position:absolute;
  left:237px;
  top:540px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u12856 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u12857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u12857 {
  position:absolute;
  left:122px;
  top:606px;
  width:380px;
  height:74px;
  font-size:24px;
}
#u12858 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u12859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12859 {
  position:absolute;
  left:652px;
  top:123px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12860 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12861 {
  position:absolute;
  left:652px;
  top:170px;
  width:954px;
  height:329px;
}
#u12862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u12862 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u12863 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u12864 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u12865 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u12866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u12866 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u12867 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u12868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u12868 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u12869 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u12870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:116px;
}
#u12870 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:116px;
  font-size:24px;
}
#u12871 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u12872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:116px;
}
#u12872 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:116px;
  font-size:20px;
}
#u12873 {
  position:absolute;
  left:2px;
  top:46px;
  width:232px;
  word-wrap:break-word;
}
#u12874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:116px;
}
#u12874 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:116px;
  font-size:20px;
}
#u12875 {
  position:absolute;
  left:2px;
  top:50px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:116px;
}
#u12876 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:116px;
  font-size:20px;
}
#u12877 {
  position:absolute;
  left:2px;
  top:50px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12878 {
  position:absolute;
  left:0px;
  top:184px;
  width:177px;
  height:70px;
  font-size:22px;
  color:#000000;
}
#u12879 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12880 {
  position:absolute;
  left:177px;
  top:184px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12881 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12882 {
  position:absolute;
  left:413px;
  top:184px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12883 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u12884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12884 {
  position:absolute;
  left:711px;
  top:184px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12885 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:70px;
}
#u12886 {
  position:absolute;
  left:0px;
  top:254px;
  width:177px;
  height:70px;
  font-size:22px;
  color:#000000;
}
#u12887 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u12888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u12888 {
  position:absolute;
  left:177px;
  top:254px;
  width:236px;
  height:70px;
  font-size:20px;
}
#u12889 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u12890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:70px;
}
#u12890 {
  position:absolute;
  left:413px;
  top:254px;
  width:298px;
  height:70px;
  font-size:20px;
}
#u12891 {
  position:absolute;
  left:2px;
  top:23px;
  width:294px;
  word-wrap:break-word;
}
#u12892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u12892 {
  position:absolute;
  left:711px;
  top:254px;
  width:238px;
  height:70px;
  font-size:20px;
}
#u12893 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12894 {
  position:absolute;
  left:652px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u12895 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u12896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12896 {
  position:absolute;
  left:652px;
  top:47px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12897 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12898 {
  position:absolute;
  left:652px;
  top:85px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12899 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
