body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1866px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u51222 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u51223 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51224 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51225 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u51226 {
  position:absolute;
  left:68px;
  top:12px;
  width:289px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u51227 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u51228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51228 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u51229 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u51231 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u51232 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u51233 {
  position:absolute;
  left:242px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u51234 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u51235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u51235 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u51236 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u51237 {
  position:absolute;
  left:558px;
  top:217px;
  width:7px;
  height:26px;
}
#u51238 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u51239 {
  position:absolute;
  left:266px;
  top:280px;
  width:95px;
  height:95px;
  font-size:18px;
  color:#FFFFFF;
}
#u51240 {
  position:absolute;
  left:2px;
  top:36px;
  width:91px;
  word-wrap:break-word;
}
#u51241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51241 {
  position:absolute;
  left:273px;
  top:385px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u51242 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u51244 {
  position:absolute;
  left:364px;
  top:385px;
  width:65px;
  height:24px;
}
#u51245 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51246 {
  position:absolute;
  left:368px;
  top:392px;
  width:58px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51247 {
  position:absolute;
  left:0px;
  top:-2px;
  width:58px;
  word-wrap:break-word;
}
#u51248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
}
#u51249 {
  position:absolute;
  left:436px;
  top:385px;
  width:51px;
  height:24px;
}
#u51250 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51251 {
  position:absolute;
  left:439px;
  top:392px;
  width:46px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51252 {
  position:absolute;
  left:0px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u51253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51253 {
  position:absolute;
  left:235px;
  top:419px;
  width:158px;
  height:24px;
  font-size:20px;
}
#u51254 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u51255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC00;
}
#u51255 {
  position:absolute;
  left:172px;
  top:464px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFCC00;
}
#u51256 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u51257 {
  position:absolute;
  left:381px;
  top:464px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u51258 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51259_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:548px;
  height:5px;
}
#u51259 {
  position:absolute;
  left:41px;
  top:498px;
  width:545px;
  height:2px;
}
#u51260 {
  position:absolute;
  left:2px;
  top:-7px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51261_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:119px;
  height:5px;
}
#u51261 {
  position:absolute;
  left:154px;
  top:498px;
  width:116px;
  height:2px;
}
#u51262 {
  position:absolute;
  left:2px;
  top:-7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:188px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51263 {
  position:absolute;
  left:52px;
  top:510px;
  width:522px;
  height:188px;
}
#u51264 {
  position:absolute;
  left:2px;
  top:86px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#6B6B6B;
}
#u51265 {
  position:absolute;
  left:61px;
  top:520px;
  width:481px;
  height:24px;
  font-size:20px;
  color:#6B6B6B;
}
#u51266 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u51267_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:493px;
  height:5px;
}
#u51267 {
  position:absolute;
  left:67px;
  top:654px;
  width:490px;
  height:2px;
}
#u51268 {
  position:absolute;
  left:2px;
  top:-7px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC00;
}
#u51269 {
  position:absolute;
  left:67px;
  top:664px;
  width:103px;
  height:24px;
  font-size:20px;
  color:#FFCC00;
}
#u51270 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u51271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u51271 {
  position:absolute;
  left:523px;
  top:630px;
  width:34px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u51272 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u51273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u51273 {
  position:absolute;
  left:52px;
  top:708px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u51274 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u51275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:26px;
}
#u51276 {
  position:absolute;
  left:88px;
  top:708px;
  width:103px;
  height:26px;
  font-size:20px;
  color:#000000;
}
#u51277 {
  position:absolute;
  left:2px;
  top:5px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u51278 {
  position:absolute;
  left:97px;
  top:712px;
  width:84px;
  height:20px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u51279 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u51280 {
  position:absolute;
  left:559px;
  top:713px;
  width:27px;
  height:16px;
}
#u51281 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51280_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51282 {
  position:absolute;
  left:512px;
  top:709px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u51283 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u51284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:60px;
}
#u51285 {
  position:absolute;
  left:52px;
  top:754px;
  width:522px;
  height:60px;
  font-size:20px;
}
#u51286 {
  position:absolute;
  left:2px;
  top:22px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u51287 {
  position:absolute;
  left:100px;
  top:763px;
  width:426px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u51288 {
  position:absolute;
  left:0px;
  top:10px;
  width:426px;
  word-wrap:break-word;
}
#u51289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u51289 {
  position:absolute;
  left:160px;
  top:818px;
  width:307px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u51290 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u51291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:243px;
}
#u51291 {
  position:absolute;
  left:40px;
  top:905px;
  width:546px;
  height:243px;
}
#u51292 {
  position:absolute;
  left:2px;
  top:114px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u51293 {
  position:absolute;
  left:275px;
  top:961px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u51294 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u51295 {
  position:absolute;
  left:123px;
  top:1015px;
  width:385px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u51296 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u51298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u51299 {
  position:absolute;
  left:285px;
  top:1497px;
  width:614px;
  height:1205px;
}
#u51300 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51301 {
  position:absolute;
  left:275px;
  top:1415px;
  width:50px;
  height:64px;
}
#u51302 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u51303 {
  position:absolute;
  left:343px;
  top:1427px;
  width:449px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u51304 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u51305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51305 {
  position:absolute;
  left:315px;
  top:1593px;
  width:546px;
  height:970px;
}
#u51306 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51308 {
  position:absolute;
  left:372px;
  top:1921px;
  width:430px;
  height:276px;
}
#u51309 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u51310 {
  position:absolute;
  left:372px;
  top:2109px;
  width:430px;
  height:1px;
}
#u51311 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u51312 {
  position:absolute;
  left:577px;
  top:2114px;
  width:1px;
  height:83px;
}
#u51313 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u51314 {
  position:absolute;
  left:372px;
  top:2109px;
  width:430px;
  height:1px;
}
#u51315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:84px;
}
#u51316 {
  position:absolute;
  left:577px;
  top:2114px;
  width:1px;
  height:83px;
}
#u51317 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u51318 {
  position:absolute;
  left:413px;
  top:2143px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u51319 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u51320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#BCBCBC;
  text-align:center;
}
#u51320 {
  position:absolute;
  left:628px;
  top:2143px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#BCBCBC;
  text-align:center;
}
#u51321 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u51322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u51322 {
  position:absolute;
  left:507px;
  top:1941px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u51323 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u51324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u51324 {
  position:absolute;
  left:392px;
  top:2007px;
  width:380px;
  height:74px;
  font-size:24px;
}
#u51325 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u51327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u51328 {
  position:absolute;
  left:643px;
  top:2915px;
  width:614px;
  height:1205px;
}
#u51329 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51330 {
  position:absolute;
  left:633px;
  top:2833px;
  width:50px;
  height:64px;
}
#u51331 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u51332 {
  position:absolute;
  left:701px;
  top:2845px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u51333 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u51334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51334 {
  position:absolute;
  left:673px;
  top:3011px;
  width:546px;
  height:970px;
}
#u51335 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:339px;
}
#u51336 {
  position:absolute;
  left:774px;
  top:3301px;
  width:342px;
  height:339px;
  color:#FFFFFF;
}
#u51337 {
  position:absolute;
  left:2px;
  top:162px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51338 {
  position:absolute;
  left:790px;
  top:3315px;
  width:28px;
  height:28px;
  color:#F2F2F2;
}
#u51339 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u51340 {
  position:absolute;
  left:877px;
  top:3369px;
  width:17px;
  height:23px;
}
#u51341 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u51342 {
  position:absolute;
  left:904px;
  top:3352px;
  width:82px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u51343 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u51344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u51344 {
  position:absolute;
  left:918px;
  top:3323px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u51345 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u51347 {
  position:absolute;
  left:826px;
  top:3455px;
  width:44px;
  height:44px;
  color:#66FF66;
}
#u51348 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#66FF66;
  text-align:center;
}
#u51349 {
  position:absolute;
  left:829px;
  top:3467px;
  width:39px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#66FF66;
  text-align:center;
}
#u51350 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u51351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:68px;
}
#u51351 {
  position:absolute;
  left:896px;
  top:3444px;
  width:1px;
  height:67px;
}
#u51352 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u51354 {
  position:absolute;
  left:923px;
  top:3455px;
  width:44px;
  height:44px;
}
#u51355 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u51356 {
  position:absolute;
  left:926px;
  top:3467px;
  width:39px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u51357 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u51358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:68px;
}
#u51358 {
  position:absolute;
  left:991px;
  top:3444px;
  width:1px;
  height:67px;
}
#u51359 {
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u51361 {
  position:absolute;
  left:1017px;
  top:3455px;
  width:44px;
  height:44px;
}
#u51362 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u51363 {
  position:absolute;
  left:1020px;
  top:3467px;
  width:39px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u51364 {
  position:absolute;
  left:0px;
  top:-10px;
  width:39px;
  word-wrap:break-word;
}
#u51365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u51365 {
  position:absolute;
  left:895px;
  top:3528px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u51366 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u51367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51367 {
  position:absolute;
  left:805px;
  top:3572px;
  width:281px;
  height:48px;
  font-size:20px;
}
#u51368 {
  position:absolute;
  left:2px;
  top:12px;
  width:277px;
  word-wrap:break-word;
}
#u51369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51369 {
  position:absolute;
  left:526px;
  top:788px;
  width:41px;
  height:41px;
}
#u51370 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51371 {
  position:absolute;
  left:925px;
  top:1364px;
  width:41px;
  height:41px;
}
#u51372 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51373 {
  position:absolute;
  left:567px;
  top:809px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51373_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:189px;
  height:8px;
}
#u51373_seg1 {
  position:absolute;
  left:181px;
  top:-4px;
  width:8px;
  height:584px;
}
#u51373_seg2 {
  position:absolute;
  left:181px;
  top:572px;
  width:177px;
  height:8px;
}
#u51374 {
  position:absolute;
  left:135px;
  top:274px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51375 {
  position:absolute;
  left:633px;
  top:2170px;
  width:41px;
  height:41px;
}
#u51376 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51377 {
  position:absolute;
  left:633px;
  top:2792px;
  width:41px;
  height:41px;
}
#u51378 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51379 {
  position:absolute;
  left:654px;
  top:2211px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51379_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:585px;
}
#u51380 {
  position:absolute;
  left:-50px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u51382 {
  position:absolute;
  left:1252px;
  top:82px;
  width:614px;
  height:1205px;
}
#u51383 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51384 {
  position:absolute;
  left:1242px;
  top:0px;
  width:50px;
  height:64px;
}
#u51385 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u51386 {
  position:absolute;
  left:1310px;
  top:12px;
  width:289px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u51387 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u51388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51388 {
  position:absolute;
  left:1282px;
  top:178px;
  width:546px;
  height:970px;
}
#u51389 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u51391 {
  position:absolute;
  left:1282px;
  top:178px;
  width:546px;
  height:84px;
}
#u51392 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u51393 {
  position:absolute;
  left:1484px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u51394 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u51395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u51395 {
  position:absolute;
  left:1294px;
  top:216px;
  width:32px;
  height:32px;
}
#u51396 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u51397 {
  position:absolute;
  left:1800px;
  top:217px;
  width:7px;
  height:26px;
}
#u51398 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u51399 {
  position:absolute;
  left:1508px;
  top:280px;
  width:95px;
  height:95px;
  font-size:18px;
  color:#FFFFFF;
}
#u51400 {
  position:absolute;
  left:2px;
  top:36px;
  width:91px;
  word-wrap:break-word;
}
#u51401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51401 {
  position:absolute;
  left:1515px;
  top:385px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u51402 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u51404 {
  position:absolute;
  left:1606px;
  top:385px;
  width:65px;
  height:24px;
}
#u51405 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51406 {
  position:absolute;
  left:1610px;
  top:392px;
  width:58px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51407 {
  position:absolute;
  left:0px;
  top:-2px;
  width:58px;
  word-wrap:break-word;
}
#u51408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
}
#u51409 {
  position:absolute;
  left:1678px;
  top:385px;
  width:51px;
  height:24px;
}
#u51410 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51411 {
  position:absolute;
  left:1681px;
  top:392px;
  width:46px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u51412 {
  position:absolute;
  left:0px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u51413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51413 {
  position:absolute;
  left:1477px;
  top:419px;
  width:158px;
  height:24px;
  font-size:20px;
}
#u51414 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u51415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u51415 {
  position:absolute;
  left:1414px;
  top:464px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u51416 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFCC00;
}
#u51417 {
  position:absolute;
  left:1623px;
  top:464px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFCC00;
}
#u51418 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51419_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:548px;
  height:5px;
}
#u51419 {
  position:absolute;
  left:1283px;
  top:498px;
  width:545px;
  height:2px;
}
#u51420 {
  position:absolute;
  left:2px;
  top:-7px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:146px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51421 {
  position:absolute;
  left:1294px;
  top:510px;
  width:522px;
  height:146px;
}
#u51422 {
  position:absolute;
  left:2px;
  top:65px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#6B6B6B;
}
#u51423 {
  position:absolute;
  left:1303px;
  top:520px;
  width:481px;
  height:24px;
  font-size:20px;
  color:#6B6B6B;
}
#u51424 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u51425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u51425 {
  position:absolute;
  left:1765px;
  top:630px;
  width:34px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u51426 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u51427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u51427 {
  position:absolute;
  left:1294px;
  top:664px;
  width:26px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u51428 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u51429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:60px;
}
#u51430 {
  position:absolute;
  left:1294px;
  top:700px;
  width:522px;
  height:60px;
  font-size:20px;
}
#u51431 {
  position:absolute;
  left:2px;
  top:22px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u51432 {
  position:absolute;
  left:1342px;
  top:709px;
  width:426px;
  height:45px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u51433 {
  position:absolute;
  left:0px;
  top:10px;
  width:426px;
  word-wrap:break-word;
}
#u51434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u51434 {
  position:absolute;
  left:1402px;
  top:764px;
  width:307px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u51435 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u51436_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:119px;
  height:5px;
}
#u51436 {
  position:absolute;
  left:1606px;
  top:498px;
  width:116px;
  height:2px;
}
#u51437 {
  position:absolute;
  left:2px;
  top:-7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51438 {
  position:absolute;
  left:1279px;
  top:742px;
  width:41px;
  height:41px;
}
#u51439 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51440 {
  position:absolute;
  left:1279px;
  top:763px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51440_seg0 {
  position:absolute;
  left:-181px;
  top:-4px;
  width:181px;
  height:8px;
}
#u51440_seg1 {
  position:absolute;
  left:-181px;
  top:-4px;
  width:8px;
  height:630px;
}
#u51440_seg2 {
  position:absolute;
  left:-313px;
  top:618px;
  width:140px;
  height:8px;
}
#u51441 {
  position:absolute;
  left:-227px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u51444 {
  position:absolute;
  left:1008px;
  top:1497px;
  width:614px;
  height:1205px;
}
#u51445 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u51446 {
  position:absolute;
  left:998px;
  top:1415px;
  width:50px;
  height:64px;
}
#u51447 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u51448 {
  position:absolute;
  left:1066px;
  top:1427px;
  width:513px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u51449 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u51450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51450 {
  position:absolute;
  left:1038px;
  top:1593px;
  width:546px;
  height:970px;
}
#u51451 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51453 {
  position:absolute;
  left:1108px;
  top:1921px;
  width:430px;
  height:276px;
}
#u51454 {
  position:absolute;
  left:2px;
  top:130px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u51455 {
  position:absolute;
  left:1108px;
  top:2109px;
  width:430px;
  height:1px;
}
#u51456 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:2px;
}
#u51457 {
  position:absolute;
  left:1108px;
  top:2109px;
  width:430px;
  height:1px;
}
#u51458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u51459 {
  position:absolute;
  left:1258px;
  top:2143px;
  width:131px;
  height:26px;
  font-size:22px;
  color:#0099FF;
  text-align:center;
}
#u51460 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u51461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  text-align:center;
}
#u51461 {
  position:absolute;
  left:1243px;
  top:1941px;
  width:157px;
  height:50px;
  font-size:22px;
  text-align:center;
}
#u51462 {
  position:absolute;
  left:0px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u51463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u51463 {
  position:absolute;
  left:1128px;
  top:2007px;
  width:380px;
  height:74px;
  font-size:24px;
}
#u51464 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u51465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51465 {
  position:absolute;
  left:1515px;
  top:2130px;
  width:41px;
  height:41px;
}
#u51466 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u51467 {
  position:absolute;
  left:1727px;
  top:1297px;
  width:41px;
  height:41px;
}
#u51468 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51469 {
  position:absolute;
  left:1556px;
  top:2151px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51469_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u51469_seg1 {
  position:absolute;
  left:188px;
  top:-813px;
  width:8px;
  height:817px;
}
#u51470 {
  position:absolute;
  left:142px;
  top:-318px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
