body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u14865 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u14866 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u14867 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u14868 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u14869 {
  position:absolute;
  left:68px;
  top:12px;
  width:140px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u14870 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u14871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14871 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u14872 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u14875 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
  font-size:28px;
}
#u14876 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u14877 {
  position:absolute;
  left:115px;
  top:211px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u14878 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u14879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:8px;
}
#u14879 {
  position:absolute;
  left:321px;
  top:254px;
  width:200px;
  height:8px;
}
#u14880 {
  position:absolute;
  left:2px;
  top:-4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u14881 {
  position:absolute;
  left:350px;
  top:211px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u14882 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u14883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u14883 {
  position:absolute;
  left:64px;
  top:216px;
  width:14px;
  height:24px;
  color:#FFFFFF;
}
#u14884 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u14885 {
  position:absolute;
  left:57px;
  top:272px;
  width:49px;
  height:49px;
}
#u14886 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14887 {
  position:absolute;
  left:116px;
  top:272px;
  width:452px;
  height:91px;
  font-size:28px;
}
#u14888 {
  position:absolute;
  left:2px;
  top:29px;
  width:448px;
  word-wrap:break-word;
}
