body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u7415 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u7416 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u7417 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u7418 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u7419 {
  position:absolute;
  left:68px;
  top:12px;
  width:225px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u7420 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u7421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7421 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u7422 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7423 {
  position:absolute;
  left:124px;
  top:358px;
  width:379px;
  height:471px;
}
#u7424 {
  position:absolute;
  left:2px;
  top:228px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7425 {
  position:absolute;
  left:229px;
  top:386px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7426 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7427 {
  position:absolute;
  left:150px;
  top:424px;
  width:325px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7428 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u7429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:49px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7429 {
  position:absolute;
  left:148px;
  top:766px;
  width:332px;
  height:49px;
  font-size:18px;
}
#u7430 {
  position:absolute;
  left:2px;
  top:14px;
  width:328px;
  word-wrap:break-word;
}
