body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1191px;
}
#u7160 {
  position:absolute;
  left:10px;
  top:81px;
  width:614px;
  height:1191px;
}
#u7161 {
  position:absolute;
  left:2px;
  top:588px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u7163 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u7164 {
  position:absolute;
  left:70px;
  top:22px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u7165 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7166 {
  position:absolute;
  left:40px;
  top:175px;
  width:546px;
  height:962px;
}
#u7167 {
  position:absolute;
  left:2px;
  top:473px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:962px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7168 {
  position:absolute;
  left:40px;
  top:175px;
  width:546px;
  height:962px;
}
#u7169 {
  position:absolute;
  left:2px;
  top:473px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7171 {
  position:absolute;
  left:157px;
  top:515px;
  width:310px;
  height:149px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u7172 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u7173 {
  position:absolute;
  left:186px;
  top:578px;
  width:253px;
  height:23px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u7174 {
  position:absolute;
  left:0px;
  top:-6px;
  width:253px;
  word-wrap:break-word;
}
#u7175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1191px;
}
#u7176 {
  position:absolute;
  left:10px;
  top:1469px;
  width:614px;
  height:1191px;
}
#u7177 {
  position:absolute;
  left:2px;
  top:588px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u7178 {
  position:absolute;
  left:0px;
  top:1388px;
  width:50px;
  height:64px;
}
#u7179 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u7180 {
  position:absolute;
  left:70px;
  top:1410px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u7181 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7182 {
  position:absolute;
  left:40px;
  top:1563px;
  width:546px;
  height:962px;
}
#u7183 {
  position:absolute;
  left:2px;
  top:473px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:962px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u7184 {
  position:absolute;
  left:40px;
  top:1563px;
  width:546px;
  height:962px;
  font-size:48px;
}
#u7185 {
  position:absolute;
  left:2px;
  top:452px;
  width:542px;
  word-wrap:break-word;
}
