body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u119878 {
  position:absolute;
  left:10px;
  top:1524px;
  width:614px;
  height:1205px;
}
#u119879 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u119880 {
  position:absolute;
  left:0px;
  top:1442px;
  width:50px;
  height:64px;
}
#u119881 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u119882 {
  position:absolute;
  left:68px;
  top:1454px;
  width:321px;
  height:37px;
  font-size:32px;
}
#u119883 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u119884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119884 {
  position:absolute;
  left:40px;
  top:1620px;
  width:546px;
  height:970px;
}
#u119885 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119886 {
  position:absolute;
  left:49px;
  top:1629px;
  width:529px;
  height:79px;
}
#u119887 {
  position:absolute;
  left:2px;
  top:32px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:2px;
}
#u119888 {
  position:absolute;
  left:49px;
  top:1665px;
  width:529px;
  height:1px;
}
#u119889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u119891 {
  position:absolute;
  left:58px;
  top:1637px;
  width:54px;
  height:20px;
}
#u119892 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u119893 {
  position:absolute;
  left:61px;
  top:1643px;
  width:47px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A4B3C1;
  text-align:center;
}
#u119894 {
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  word-wrap:break-word;
}
#u119895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u119895 {
  position:absolute;
  left:118px;
  top:1638px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u119896 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u119897 {
  position:absolute;
  left:58px;
  top:1672px;
  width:508px;
  height:24px;
  font-size:20px;
}
#u119898 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u119899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u119899 {
  position:absolute;
  left:508px;
  top:1638px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u119900 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u119901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u119902 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u119903 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u119904 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u119905 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u119906 {
  position:absolute;
  left:68px;
  top:12px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u119907 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u119908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:1007px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119908 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:1007px;
}
#u119909 {
  position:absolute;
  left:2px;
  top:496px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:84px;
}
#u119911 {
  position:absolute;
  left:39px;
  top:178px;
  width:547px;
  height:84px;
}
#u119912 {
  position:absolute;
  left:2px;
  top:34px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u119913 {
  position:absolute;
  left:241px;
  top:218px;
  width:142px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u119914 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u119915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u119915 {
  position:absolute;
  left:51px;
  top:216px;
  width:32px;
  height:32px;
}
#u119916 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119920 {
  position:absolute;
  left:40px;
  top:262px;
  width:546px;
  height:70px;
}
#u119921 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119922 {
  position:absolute;
  left:59px;
  top:279px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119923 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u119925 {
  position:absolute;
  left:502px;
  top:277px;
  width:69px;
  height:38px;
}
#u119926 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u119927 {
  position:absolute;
  left:535px;
  top:280px;
  width:31px;
  height:31px;
}
#u119928 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119932 {
  position:absolute;
  left:40px;
  top:331px;
  width:546px;
  height:70px;
}
#u119933 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119934 {
  position:absolute;
  left:59px;
  top:348px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u119937 {
  position:absolute;
  left:502px;
  top:346px;
  width:69px;
  height:38px;
}
#u119938 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u119939 {
  position:absolute;
  left:535px;
  top:349px;
  width:31px;
  height:31px;
}
#u119940 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119944 {
  position:absolute;
  left:40px;
  top:400px;
  width:546px;
  height:70px;
}
#u119945 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119946 {
  position:absolute;
  left:59px;
  top:417px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119947 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u119949 {
  position:absolute;
  left:502px;
  top:415px;
  width:69px;
  height:38px;
}
#u119950 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u119951 {
  position:absolute;
  left:535px;
  top:418px;
  width:31px;
  height:31px;
}
#u119952 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119956 {
  position:absolute;
  left:40px;
  top:469px;
  width:546px;
  height:70px;
}
#u119957 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119958 {
  position:absolute;
  left:59px;
  top:486px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119959 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u119961 {
  position:absolute;
  left:502px;
  top:484px;
  width:69px;
  height:38px;
}
#u119962 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u119963 {
  position:absolute;
  left:535px;
  top:487px;
  width:31px;
  height:31px;
}
#u119964 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119968 {
  position:absolute;
  left:40px;
  top:538px;
  width:546px;
  height:70px;
}
#u119969 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119970 {
  position:absolute;
  left:59px;
  top:555px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119971 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u119973 {
  position:absolute;
  left:502px;
  top:553px;
  width:69px;
  height:38px;
}
#u119974 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u119975 {
  position:absolute;
  left:535px;
  top:556px;
  width:31px;
  height:31px;
}
#u119976 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119981 {
  position:absolute;
  left:40px;
  top:745px;
  width:546px;
  height:74px;
}
#u119982 {
  position:absolute;
  left:2px;
  top:29px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119983 {
  position:absolute;
  left:59px;
  top:763px;
  width:121px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119984 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u119985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u119986 {
  position:absolute;
  left:502px;
  top:761px;
  width:69px;
  height:40px;
}
#u119987 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u119988 {
  position:absolute;
  left:507px;
  top:765px;
  width:31px;
  height:33px;
}
#u119989 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u119990 {
  position:absolute;
  left:59px;
  top:792px;
  width:281px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u119991 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u119993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119995 {
  position:absolute;
  left:40px;
  top:1046px;
  width:546px;
  height:70px;
}
#u119996 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119997 {
  position:absolute;
  left:59px;
  top:1063px;
  width:121px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u119998 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u119999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120000 {
  position:absolute;
  left:502px;
  top:1061px;
  width:69px;
  height:38px;
}
#u120001 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120002 {
  position:absolute;
  left:535px;
  top:1064px;
  width:31px;
  height:31px;
}
#u120003 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120007 {
  position:absolute;
  left:40px;
  top:1115px;
  width:546px;
  height:70px;
}
#u120008 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120009 {
  position:absolute;
  left:59px;
  top:1132px;
  width:49px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u120011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120012 {
  position:absolute;
  left:502px;
  top:1130px;
  width:69px;
  height:38px;
}
#u120013 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120014 {
  position:absolute;
  left:535px;
  top:1133px;
  width:31px;
  height:31px;
}
#u120015 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120020 {
  position:absolute;
  left:40px;
  top:818px;
  width:546px;
  height:70px;
}
#u120021 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120022 {
  position:absolute;
  left:59px;
  top:835px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120023 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u120024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120025 {
  position:absolute;
  left:502px;
  top:833px;
  width:69px;
  height:38px;
}
#u120026 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120027 {
  position:absolute;
  left:535px;
  top:836px;
  width:31px;
  height:31px;
}
#u120028 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u120029 {
  position:absolute;
  left:59px;
  top:864px;
  width:267px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u120030 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u120032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120034 {
  position:absolute;
  left:40px;
  top:607px;
  width:546px;
  height:70px;
}
#u120035 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120036 {
  position:absolute;
  left:59px;
  top:624px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120037 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u120038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120039 {
  position:absolute;
  left:502px;
  top:622px;
  width:69px;
  height:38px;
}
#u120040 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120041 {
  position:absolute;
  left:535px;
  top:625px;
  width:31px;
  height:31px;
}
#u120042 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120046 {
  position:absolute;
  left:40px;
  top:887px;
  width:546px;
  height:70px;
}
#u120047 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120048 {
  position:absolute;
  left:59px;
  top:904px;
  width:121px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120049 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u120050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120051 {
  position:absolute;
  left:502px;
  top:902px;
  width:69px;
  height:38px;
}
#u120052 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120053 {
  position:absolute;
  left:509px;
  top:906px;
  width:31px;
  height:31px;
}
#u120054 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120059 {
  position:absolute;
  left:40px;
  top:676px;
  width:546px;
  height:70px;
}
#u120060 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120061 {
  position:absolute;
  left:59px;
  top:693px;
  width:123px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120062 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u120063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120064 {
  position:absolute;
  left:502px;
  top:691px;
  width:69px;
  height:38px;
}
#u120065 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120066 {
  position:absolute;
  left:507px;
  top:695px;
  width:31px;
  height:31px;
}
#u120067 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u120068 {
  position:absolute;
  left:59px;
  top:722px;
  width:225px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u120069 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u120070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120070 {
  position:absolute;
  left:40px;
  top:677px;
  width:544px;
  height:70px;
}
#u120071 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120072 {
  position:absolute;
  left:654px;
  top:47px;
  width:954px;
  height:441px;
}
#u120073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u120073 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
  font-size:20px;
}
#u120074 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  word-wrap:break-word;
}
#u120075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:68px;
}
#u120075 {
  position:absolute;
  left:177px;
  top:0px;
  width:236px;
  height:68px;
  font-size:20px;
}
#u120076 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  word-wrap:break-word;
}
#u120077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:68px;
}
#u120077 {
  position:absolute;
  left:413px;
  top:0px;
  width:298px;
  height:68px;
  font-size:20px;
}
#u120078 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u120079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:68px;
}
#u120079 {
  position:absolute;
  left:711px;
  top:0px;
  width:238px;
  height:68px;
  font-size:20px;
}
#u120080 {
  position:absolute;
  left:2px;
  top:22px;
  width:234px;
  word-wrap:break-word;
}
#u120081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:172px;
}
#u120081 {
  position:absolute;
  left:0px;
  top:68px;
  width:177px;
  height:172px;
  font-size:22px;
}
#u120082 {
  position:absolute;
  left:2px;
  top:73px;
  width:173px;
  word-wrap:break-word;
}
#u120083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:172px;
}
#u120083 {
  position:absolute;
  left:177px;
  top:68px;
  width:236px;
  height:172px;
  font-size:20px;
}
#u120084 {
  position:absolute;
  left:2px;
  top:74px;
  width:232px;
  word-wrap:break-word;
}
#u120085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:172px;
}
#u120085 {
  position:absolute;
  left:413px;
  top:68px;
  width:298px;
  height:172px;
  font-size:20px;
}
#u120086 {
  position:absolute;
  left:2px;
  top:74px;
  width:294px;
  word-wrap:break-word;
}
#u120087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:172px;
}
#u120087 {
  position:absolute;
  left:711px;
  top:68px;
  width:238px;
  height:172px;
  font-size:20px;
}
#u120088 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u120089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:196px;
}
#u120089 {
  position:absolute;
  left:0px;
  top:240px;
  width:177px;
  height:196px;
  font-size:22px;
}
#u120090 {
  position:absolute;
  left:2px;
  top:72px;
  width:173px;
  word-wrap:break-word;
}
#u120091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:196px;
}
#u120091 {
  position:absolute;
  left:177px;
  top:240px;
  width:236px;
  height:196px;
  font-size:20px;
}
#u120092 {
  position:absolute;
  left:2px;
  top:86px;
  width:232px;
  word-wrap:break-word;
}
#u120093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:196px;
}
#u120093 {
  position:absolute;
  left:413px;
  top:240px;
  width:298px;
  height:196px;
  font-size:20px;
}
#u120094 {
  position:absolute;
  left:2px;
  top:74px;
  width:294px;
  word-wrap:break-word;
}
#u120095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:196px;
}
#u120095 {
  position:absolute;
  left:711px;
  top:240px;
  width:238px;
  height:196px;
  font-size:20px;
}
#u120096 {
  position:absolute;
  left:2px;
  top:2px;
  width:234px;
  word-wrap:break-word;
}
#u120097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u120097 {
  position:absolute;
  left:654px;
  top:0px;
  width:949px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u120098 {
  position:absolute;
  left:2px;
  top:6px;
  width:945px;
  word-wrap:break-word;
}
#u120100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120103 {
  position:absolute;
  left:40px;
  top:966px;
  width:546px;
  height:70px;
}
#u120104 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120105 {
  position:absolute;
  left:59px;
  top:983px;
  width:193px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u120106 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u120107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u120108 {
  position:absolute;
  left:502px;
  top:981px;
  width:69px;
  height:38px;
}
#u120109 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u120110 {
  position:absolute;
  left:535px;
  top:984px;
  width:31px;
  height:31px;
}
#u120111 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u120112 {
  position:absolute;
  left:59px;
  top:1012px;
  width:267px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u120113 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u120114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120114 {
  position:absolute;
  left:40px;
  top:966px;
  width:544px;
  height:70px;
}
#u120115 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
