body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u23880 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u23881 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u23882 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u23883 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u23884 {
  position:absolute;
  left:68px;
  top:12px;
  width:279px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u23885 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u23886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23886 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u23887 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u23889 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u23890 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23891 {
  position:absolute;
  left:242px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23892 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u23893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u23893 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u23894 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u23895 {
  position:absolute;
  left:541px;
  top:216px;
  width:32px;
  height:32px;
}
#u23896 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23897 {
  position:absolute;
  left:40px;
  top:260px;
  width:546px;
  height:190px;
}
#u23898 {
  position:absolute;
  left:2px;
  top:87px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u23899 {
  position:absolute;
  left:279px;
  top:272px;
  width:69px;
  height:69px;
  font-size:18px;
  color:#FFFFFF;
}
#u23900 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u23901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23901 {
  position:absolute;
  left:273px;
  top:341px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u23902 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23903 {
  position:absolute;
  left:235px;
  top:365px;
  width:158px;
  height:24px;
  font-size:20px;
}
#u23904 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u23905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23905 {
  position:absolute;
  left:273px;
  top:389px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u23906 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:53px;
}
#u23910 {
  position:absolute;
  left:40px;
  top:448px;
  width:546px;
  height:53px;
}
#u23911 {
  position:absolute;
  left:2px;
  top:18px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23912 {
  position:absolute;
  left:69px;
  top:469px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23913 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u23914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:5px;
}
#u23914 {
  position:absolute;
  left:89px;
  top:496px;
  width:101px;
  height:5px;
}
#u23915 {
  position:absolute;
  left:2px;
  top:-6px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23916 {
  position:absolute;
  left:242px;
  top:469px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23917 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u23918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23918 {
  position:absolute;
  left:402px;
  top:469px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23919 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u23920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23920 {
  position:absolute;
  left:46px;
  top:527px;
  width:265px;
  height:378px;
}
#u23921 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
}
#u23923 {
  position:absolute;
  left:46px;
  top:527px;
  width:265px;
  height:378px;
}
#u23924 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23925 {
  position:absolute;
  left:150px;
  top:683px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23926 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23927 {
  position:absolute;
  left:53px;
  top:867px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u23928 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u23929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23929 {
  position:absolute;
  left:91px;
  top:870px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23930 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u23931 {
  position:absolute;
  left:52px;
  top:533px;
  width:26px;
  height:22px;
}
#u23932 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u23933 {
  position:absolute;
  left:81px;
  top:531px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u23934 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23935 {
  position:absolute;
  left:316px;
  top:527px;
  width:265px;
  height:378px;
}
#u23936 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
}
#u23938 {
  position:absolute;
  left:316px;
  top:527px;
  width:265px;
  height:378px;
}
#u23939 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23940 {
  position:absolute;
  left:420px;
  top:683px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23942 {
  position:absolute;
  left:323px;
  top:867px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u23943 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u23944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23944 {
  position:absolute;
  left:361px;
  top:870px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23945 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u23946 {
  position:absolute;
  left:322px;
  top:533px;
  width:26px;
  height:22px;
}
#u23947 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u23948 {
  position:absolute;
  left:351px;
  top:531px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u23949 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23950 {
  position:absolute;
  left:46px;
  top:910px;
  width:265px;
  height:235px;
}
#u23951 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
}
#u23953 {
  position:absolute;
  left:46px;
  top:910px;
  width:265px;
  height:235px;
}
#u23954 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23955 {
  position:absolute;
  left:150px;
  top:1008px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23957 {
  position:absolute;
  left:316px;
  top:910px;
  width:265px;
  height:235px;
}
#u23958 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
}
#u23960 {
  position:absolute;
  left:316px;
  top:910px;
  width:265px;
  height:235px;
}
#u23961 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23962 {
  position:absolute;
  left:420px;
  top:1008px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u23963 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u23964 {
  position:absolute;
  left:53px;
  top:917px;
  width:26px;
  height:22px;
}
#u23965 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u23966 {
  position:absolute;
  left:82px;
  top:915px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u23967 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u23968 {
  position:absolute;
  left:323px;
  top:917px;
  width:26px;
  height:22px;
}
#u23969 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u23970 {
  position:absolute;
  left:352px;
  top:915px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u23971 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23972 {
  position:absolute;
  left:53px;
  top:1110px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u23973 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u23974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23974 {
  position:absolute;
  left:91px;
  top:1113px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23975 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23976 {
  position:absolute;
  left:323px;
  top:1110px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u23977 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u23978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23978 {
  position:absolute;
  left:361px;
  top:1113px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23979 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u23980 {
  position:absolute;
  left:46px;
  top:503px;
  width:115px;
  height:19px;
  font-size:16px;
  color:#797979;
}
#u23981 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u23982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u23982 {
  position:absolute;
  left:482px;
  top:503px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#797979;
}
#u23983 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u23985 {
  position:absolute;
  left:774px;
  top:82px;
  width:614px;
  height:1205px;
}
#u23986 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u23987 {
  position:absolute;
  left:764px;
  top:0px;
  width:50px;
  height:64px;
}
#u23988 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u23989 {
  position:absolute;
  left:832px;
  top:12px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u23990 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23991 {
  position:absolute;
  left:804px;
  top:178px;
  width:546px;
  height:970px;
}
#u23992 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23994 {
  position:absolute;
  left:812px;
  top:1088px;
  width:530px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u23995 {
  position:absolute;
  left:2px;
  top:17px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u23996 {
  position:absolute;
  left:860px;
  top:1096px;
  width:432px;
  height:38px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u23997 {
  position:absolute;
  left:0px;
  top:6px;
  width:432px;
  word-wrap:break-word;
}
#u23998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:110px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23999 {
  position:absolute;
  left:812px;
  top:968px;
  width:530px;
  height:110px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:47px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u24002 {
  position:absolute;
  left:865px;
  top:985px;
  width:64px;
  height:64px;
}
#u24003 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24004 {
  position:absolute;
  left:869px;
  top:1003px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24005 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u24006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u24007 {
  position:absolute;
  left:989px;
  top:985px;
  width:64px;
  height:64px;
}
#u24008 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24009 {
  position:absolute;
  left:993px;
  top:1003px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24010 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u24011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u24012 {
  position:absolute;
  left:1110px;
  top:985px;
  width:64px;
  height:64px;
}
#u24013 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24014 {
  position:absolute;
  left:1114px;
  top:1003px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24015 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u24016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u24017 {
  position:absolute;
  left:1233px;
  top:985px;
  width:64px;
  height:64px;
}
#u24018 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24019 {
  position:absolute;
  left:1237px;
  top:1003px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u24020 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u24021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24021 {
  position:absolute;
  left:876px;
  top:1055px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u24022 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24023 {
  position:absolute;
  left:1007px;
  top:1055px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u24024 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24025 {
  position:absolute;
  left:1131px;
  top:1055px;
  width:23px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u24026 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u24027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u24027 {
  position:absolute;
  left:1251px;
  top:1055px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u24028 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u24030 {
  position:absolute;
  left:1658px;
  top:82px;
  width:614px;
  height:1205px;
}
#u24031 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u24032 {
  position:absolute;
  left:1648px;
  top:0px;
  width:50px;
  height:64px;
}
#u24033 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u24034 {
  position:absolute;
  left:1716px;
  top:12px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u24035 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u24036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24036 {
  position:absolute;
  left:1688px;
  top:178px;
  width:546px;
  height:970px;
}
#u24037 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u24039 {
  position:absolute;
  left:1688px;
  top:178px;
  width:546px;
  height:84px;
}
#u24040 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u24041 {
  position:absolute;
  left:1890px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u24042 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u24043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24043 {
  position:absolute;
  left:1688px;
  top:261px;
  width:546px;
  height:190px;
}
#u24044 {
  position:absolute;
  left:2px;
  top:87px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u24045 {
  position:absolute;
  left:1926px;
  top:272px;
  width:69px;
  height:69px;
  font-size:18px;
  color:#FFFFFF;
}
#u24046 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  word-wrap:break-word;
}
#u24047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24047 {
  position:absolute;
  left:1920px;
  top:341px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u24048 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24049 {
  position:absolute;
  left:1882px;
  top:365px;
  width:158px;
  height:24px;
  font-size:20px;
}
#u24050 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u24051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24051 {
  position:absolute;
  left:1920px;
  top:389px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u24052 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24053 {
  position:absolute;
  left:1693px;
  top:529px;
  width:265px;
  height:378px;
}
#u24054 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
}
#u24056 {
  position:absolute;
  left:1693px;
  top:529px;
  width:265px;
  height:378px;
}
#u24057 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24058 {
  position:absolute;
  left:1797px;
  top:685px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24059 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24060 {
  position:absolute;
  left:1700px;
  top:869px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u24061 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u24062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24062 {
  position:absolute;
  left:1738px;
  top:872px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24063 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u24064 {
  position:absolute;
  left:1699px;
  top:535px;
  width:26px;
  height:22px;
}
#u24065 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u24066 {
  position:absolute;
  left:1728px;
  top:533px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u24067 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24068 {
  position:absolute;
  left:1963px;
  top:529px;
  width:265px;
  height:378px;
}
#u24069 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:378px;
}
#u24071 {
  position:absolute;
  left:1963px;
  top:529px;
  width:265px;
  height:378px;
}
#u24072 {
  position:absolute;
  left:2px;
  top:181px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24073 {
  position:absolute;
  left:2067px;
  top:685px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24075 {
  position:absolute;
  left:1970px;
  top:869px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u24076 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u24077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24077 {
  position:absolute;
  left:2008px;
  top:872px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24078 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u24079 {
  position:absolute;
  left:1969px;
  top:535px;
  width:26px;
  height:22px;
}
#u24080 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u24081 {
  position:absolute;
  left:1998px;
  top:533px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u24082 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24083 {
  position:absolute;
  left:1693px;
  top:912px;
  width:265px;
  height:235px;
}
#u24084 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
}
#u24086 {
  position:absolute;
  left:1693px;
  top:912px;
  width:265px;
  height:235px;
}
#u24087 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24088 {
  position:absolute;
  left:1797px;
  top:1010px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24090 {
  position:absolute;
  left:1963px;
  top:912px;
  width:265px;
  height:235px;
}
#u24091 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:235px;
}
#u24093 {
  position:absolute;
  left:1963px;
  top:912px;
  width:265px;
  height:235px;
}
#u24094 {
  position:absolute;
  left:2px;
  top:110px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:66px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24095 {
  position:absolute;
  left:2067px;
  top:1010px;
  width:57px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u24096 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u24097 {
  position:absolute;
  left:1700px;
  top:919px;
  width:26px;
  height:22px;
}
#u24098 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u24099 {
  position:absolute;
  left:1729px;
  top:917px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u24100 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u24101 {
  position:absolute;
  left:1970px;
  top:919px;
  width:26px;
  height:22px;
}
#u24102 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u24103 {
  position:absolute;
  left:1999px;
  top:917px;
  width:40px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u24104 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u24105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24105 {
  position:absolute;
  left:1700px;
  top:1112px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u24106 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u24107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24107 {
  position:absolute;
  left:1738px;
  top:1115px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24108 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24109 {
  position:absolute;
  left:1970px;
  top:1112px;
  width:31px;
  height:31px;
  font-size:11px;
  color:#FFFFFF;
}
#u24110 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u24111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24111 {
  position:absolute;
  left:2008px;
  top:1115px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24112 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u24113 {
  position:absolute;
  left:1693px;
  top:505px;
  width:115px;
  height:19px;
  font-size:16px;
  color:#797979;
}
#u24114 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u24115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u24115 {
  position:absolute;
  left:2129px;
  top:505px;
  width:99px;
  height:19px;
  font-size:16px;
  color:#797979;
}
#u24116 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u24117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:50px;
}
#u24119 {
  position:absolute;
  left:1688px;
  top:450px;
  width:546px;
  height:50px;
}
#u24120 {
  position:absolute;
  left:2px;
  top:17px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u24121 {
  position:absolute;
  left:1890px;
  top:463px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u24122 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u24123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
}
#u24123 {
  position:absolute;
  left:1861px;
  top:495px;
  width:200px;
  height:5px;
}
#u24124 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
