body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u18817 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u18818 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u18819 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u18820 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u18821 {
  position:absolute;
  left:70px;
  top:14px;
  width:225px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u18822 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u18823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18823 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u18824 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u18825 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u18826 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FF0000;
}
#u18827 {
  position:absolute;
  left:217px;
  top:618px;
  width:193px;
  height:57px;
  font-size:48px;
  color:#FF0000;
}
#u18828 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u18829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u18829 {
  position:absolute;
  left:75px;
  top:1053px;
  width:76px;
  height:76px;
}
#u18830 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u18831 {
  position:absolute;
  left:476px;
  top:1053px;
  width:76px;
  height:76px;
}
#u18832 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18833 {
  position:absolute;
  left:98px;
  top:1076px;
  width:30px;
  height:30px;
}
#u18834 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u18835 {
  position:absolute;
  left:495px;
  top:1076px;
  width:39px;
  height:30px;
}
#u18836 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u18837 {
  position:absolute;
  left:520px;
  top:189px;
  width:49px;
  height:49px;
}
#u18838 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18840 {
  position:absolute;
  left:233px;
  top:558px;
  width:169px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u18841 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u18842 {
  position:absolute;
  left:248px;
  top:566px;
  width:138px;
  height:38px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u18843 {
  position:absolute;
  left:0px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
