body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u97961 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u97962 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u97963 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u97964 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u97965 {
  position:absolute;
  left:68px;
  top:12px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u97966 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u97967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:972px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97967 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:972px;
}
#u97968 {
  position:absolute;
  left:2px;
  top:478px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u97970 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:84px;
}
#u97971 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u97972 {
  position:absolute;
  left:242px;
  top:215px;
  width:142px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u97973 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u97974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u97974 {
  position:absolute;
  left:52px;
  top:216px;
  width:32px;
  height:32px;
}
#u97975 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u97976 {
  position:absolute;
  left:53px;
  top:267px;
  width:521px;
  height:38px;
  font-size:16px;
}
#u97977 {
  position:absolute;
  left:2px;
  top:10px;
  width:517px;
  word-wrap:break-word;
}
#u97978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u97978 {
  position:absolute;
  left:40px;
  top:315px;
  width:546px;
  height:1px;
}
#u97979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u97980 {
  position:absolute;
  left:53px;
  top:326px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u97981 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u97982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97983 {
  position:absolute;
  left:41px;
  top:360px;
  width:544px;
  height:70px;
}
#u97984 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u97985 {
  position:absolute;
  left:60px;
  top:377px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u97986 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u97987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u97987 {
  position:absolute;
  left:525px;
  top:377px;
  width:35px;
  height:32px;
}
#u97988 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97990 {
  position:absolute;
  left:41px;
  top:429px;
  width:544px;
  height:70px;
}
#u97991 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u97992 {
  position:absolute;
  left:60px;
  top:446px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u97993 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u97994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u97994 {
  position:absolute;
  left:525px;
  top:446px;
  width:35px;
  height:32px;
}
#u97995 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97997 {
  position:absolute;
  left:41px;
  top:498px;
  width:544px;
  height:70px;
}
#u97998 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u97999 {
  position:absolute;
  left:60px;
  top:515px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u98000 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u98001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u98001 {
  position:absolute;
  left:525px;
  top:515px;
  width:35px;
  height:32px;
}
#u98002 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98004 {
  position:absolute;
  left:41px;
  top:567px;
  width:544px;
  height:70px;
}
#u98005 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u98006 {
  position:absolute;
  left:60px;
  top:584px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u98007 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u98008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u98008 {
  position:absolute;
  left:525px;
  top:584px;
  width:35px;
  height:32px;
}
#u98009 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98011 {
  position:absolute;
  left:41px;
  top:636px;
  width:544px;
  height:70px;
}
#u98012 {
  position:absolute;
  left:2px;
  top:27px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u98013 {
  position:absolute;
  left:60px;
  top:653px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u98014 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u98015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u98015 {
  position:absolute;
  left:525px;
  top:653px;
  width:35px;
  height:32px;
}
#u98016 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u98017 {
  position:absolute;
  left:53px;
  top:714px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u98018 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u98019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u98019 {
  position:absolute;
  left:41px;
  top:748px;
  width:546px;
  height:1px;
}
#u98020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98022 {
  position:absolute;
  left:78px;
  top:772px;
  width:120px;
  height:120px;
}
#u98023 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98024 {
  position:absolute;
  left:85px;
  top:806px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98025 {
  position:absolute;
  left:0px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
#u98026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98027 {
  position:absolute;
  left:253px;
  top:772px;
  width:120px;
  height:120px;
}
#u98028 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98029 {
  position:absolute;
  left:260px;
  top:806px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98030 {
  position:absolute;
  left:0px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
#u98031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98032 {
  position:absolute;
  left:429px;
  top:772px;
  width:120px;
  height:120px;
}
#u98033 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98034 {
  position:absolute;
  left:436px;
  top:806px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98035 {
  position:absolute;
  left:0px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
#u98036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98037 {
  position:absolute;
  left:78px;
  top:921px;
  width:120px;
  height:120px;
}
#u98038 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98039 {
  position:absolute;
  left:85px;
  top:955px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98040 {
  position:absolute;
  left:0px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u98041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98042 {
  position:absolute;
  left:253px;
  top:921px;
  width:120px;
  height:120px;
}
#u98043 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98044 {
  position:absolute;
  left:260px;
  top:955px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98045 {
  position:absolute;
  left:0px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
#u98046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u98047 {
  position:absolute;
  left:429px;
  top:921px;
  width:120px;
  height:120px;
}
#u98048 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98049 {
  position:absolute;
  left:436px;
  top:955px;
  width:106px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u98050 {
  position:absolute;
  left:0px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
#u98051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u98051 {
  position:absolute;
  left:40px;
  top:1077px;
  width:273px;
  height:73px;
  font-size:24px;
}
#u98052 {
  position:absolute;
  left:2px;
  top:22px;
  width:269px;
  word-wrap:break-word;
}
#u98053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u98053 {
  position:absolute;
  left:312px;
  top:1077px;
  width:273px;
  height:73px;
  font-size:24px;
}
#u98054 {
  position:absolute;
  left:2px;
  top:22px;
  width:269px;
  word-wrap:break-word;
}
