body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76545 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u76546 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u76547 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u76548 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u76549 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u76550 {
  position:absolute;
  left:68px;
  top:12px;
  width:204px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u76551 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u76552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76552 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u76553 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76554 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u76555 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u76556 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:147px;
  background:inherit;
  background-color:rgba(191, 205, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u76557 {
  position:absolute;
  left:531px;
  top:769px;
  width:39px;
  height:147px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u76558 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u76559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u76559 {
  position:absolute;
  left:54px;
  top:194px;
  width:114px;
  height:37px;
  font-size:28px;
  color:#FFFFFF;
}
#u76560 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u76561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u76561 {
  position:absolute;
  left:54px;
  top:232px;
  width:94px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u76562 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u76563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u76564 {
  position:absolute;
  left:173px;
  top:201px;
  width:48px;
  height:24px;
}
#u76565 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76566 {
  position:absolute;
  left:176px;
  top:208px;
  width:42px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76567 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u76568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76568 {
  position:absolute;
  left:54px;
  top:260px;
  width:62px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76569 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u76570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76570 {
  position:absolute;
  left:126px;
  top:260px;
  width:48px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76571 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  word-wrap:break-word;
}
#u76572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76572 {
  position:absolute;
  left:41px;
  top:915px;
  width:544px;
  height:234px;
}
#u76573 {
  position:absolute;
  left:2px;
  top:109px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76574 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76576 {
  position:absolute;
  left:52px;
  top:934px;
  width:70px;
  height:70px;
}
#u76577 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76578 {
  position:absolute;
  left:56px;
  top:954px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76579 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76580 {
  position:absolute;
  left:65px;
  top:1009px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76581 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76582 {
  position:absolute;
  left:108px;
  top:921px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76583 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76584 {
  position:absolute;
  left:433px;
  top:194px;
  width:137px;
  height:236px;
}
#u76585 {
  position:absolute;
  left:2px;
  top:110px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:227px;
  background:inherit;
  background-color:rgba(164, 179, 193, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u76586 {
  position:absolute;
  left:437px;
  top:198px;
  width:128px;
  height:227px;
  font-size:18px;
  color:#FFFFFF;
}
#u76587 {
  position:absolute;
  left:2px;
  top:80px;
  width:124px;
  word-wrap:break-word;
}
#u76588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76588 {
  position:absolute;
  left:476px;
  top:390px;
  width:55px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76589 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u76590_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:142px;
  height:9px;
}
#u76590 {
  position:absolute;
  left:433px;
  top:194px;
  width:137px;
  height:4px;
  color:#FF99CC;
}
#u76591 {
  position:absolute;
  left:2px;
  top:-6px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76592_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:241px;
}
#u76592 {
  position:absolute;
  left:566px;
  top:194px;
  width:4px;
  height:236px;
}
#u76593 {
  position:absolute;
  left:2px;
  top:110px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76594 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76595 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76596 {
  position:absolute;
  left:159px;
  top:934px;
  width:70px;
  height:70px;
}
#u76597 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76598 {
  position:absolute;
  left:163px;
  top:954px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76599 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76600 {
  position:absolute;
  left:172px;
  top:1009px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76601 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76602 {
  position:absolute;
  left:215px;
  top:921px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76603 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76606 {
  position:absolute;
  left:268px;
  top:934px;
  width:70px;
  height:70px;
}
#u76607 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76608 {
  position:absolute;
  left:272px;
  top:954px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76609 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76610 {
  position:absolute;
  left:281px;
  top:1009px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76611 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76612 {
  position:absolute;
  left:324px;
  top:921px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76613 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76616 {
  position:absolute;
  left:382px;
  top:934px;
  width:70px;
  height:70px;
}
#u76617 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76618 {
  position:absolute;
  left:386px;
  top:954px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76619 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76620 {
  position:absolute;
  left:395px;
  top:1009px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76621 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76622 {
  position:absolute;
  left:438px;
  top:921px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76623 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76624 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76626 {
  position:absolute;
  left:491px;
  top:934px;
  width:70px;
  height:70px;
}
#u76627 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76628 {
  position:absolute;
  left:495px;
  top:954px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76629 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76630 {
  position:absolute;
  left:504px;
  top:1009px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76631 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76632 {
  position:absolute;
  left:547px;
  top:921px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76633 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76636 {
  position:absolute;
  left:52px;
  top:1049px;
  width:70px;
  height:70px;
}
#u76637 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76638 {
  position:absolute;
  left:56px;
  top:1069px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76639 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76640 {
  position:absolute;
  left:65px;
  top:1124px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76641 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76642 {
  position:absolute;
  left:108px;
  top:1036px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76643 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76646 {
  position:absolute;
  left:159px;
  top:1049px;
  width:70px;
  height:70px;
}
#u76647 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76648 {
  position:absolute;
  left:163px;
  top:1069px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76649 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76650 {
  position:absolute;
  left:172px;
  top:1124px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76651 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76652 {
  position:absolute;
  left:215px;
  top:1036px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76653 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76656 {
  position:absolute;
  left:268px;
  top:1049px;
  width:70px;
  height:70px;
}
#u76657 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76658 {
  position:absolute;
  left:272px;
  top:1069px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76659 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76660 {
  position:absolute;
  left:281px;
  top:1124px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76661 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76662 {
  position:absolute;
  left:324px;
  top:1036px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76663 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76666 {
  position:absolute;
  left:382px;
  top:1049px;
  width:70px;
  height:70px;
}
#u76667 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76668 {
  position:absolute;
  left:386px;
  top:1069px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76669 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76670 {
  position:absolute;
  left:395px;
  top:1124px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76671 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76672 {
  position:absolute;
  left:438px;
  top:1036px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76673 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u76676 {
  position:absolute;
  left:491px;
  top:1049px;
  width:70px;
  height:70px;
}
#u76677 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76678 {
  position:absolute;
  left:495px;
  top:1069px;
  width:62px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u76679 {
  position:absolute;
  left:0px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u76680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A4B3C1;
}
#u76680 {
  position:absolute;
  left:504px;
  top:1124px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#A4B3C1;
}
#u76681 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u76682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76682 {
  position:absolute;
  left:547px;
  top:1036px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u76683 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u76684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u76685 {
  position:absolute;
  left:777px;
  top:82px;
  width:614px;
  height:1205px;
}
#u76686 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u76687 {
  position:absolute;
  left:767px;
  top:0px;
  width:50px;
  height:64px;
}
#u76688 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u76689 {
  position:absolute;
  left:835px;
  top:12px;
  width:407px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u76690 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u76691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76691 {
  position:absolute;
  left:807px;
  top:178px;
  width:546px;
  height:970px;
}
#u76692 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u76694 {
  position:absolute;
  left:807px;
  top:178px;
  width:546px;
  height:84px;
}
#u76695 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u76696 {
  position:absolute;
  left:1009px;
  top:218px;
  width:142px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u76697 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u76698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76698 {
  position:absolute;
  left:819px;
  top:216px;
  width:32px;
  height:32px;
}
#u76699 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76700 {
  position:absolute;
  left:808px;
  top:363px;
  width:544px;
  height:520px;
}
#u76701 {
  position:absolute;
  left:2px;
  top:252px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76702 {
  position:absolute;
  left:808px;
  top:261px;
  width:544px;
  height:92px;
}
#u76703 {
  position:absolute;
  left:2px;
  top:38px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76704 {
  position:absolute;
  left:994px;
  top:271px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u76705 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u76706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u76706 {
  position:absolute;
  left:1076px;
  top:305px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u76707 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u76708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76708 {
  position:absolute;
  left:901px;
  top:392px;
  width:83px;
  height:24px;
  font-size:20px;
}
#u76709 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u76710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76710 {
  position:absolute;
  left:830px;
  top:437px;
  width:522px;
  height:1px;
}
#u76711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76713 {
  position:absolute;
  left:830px;
  top:389px;
  width:64px;
  height:30px;
}
#u76714 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76715 {
  position:absolute;
  left:834px;
  top:398px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76716 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76717 {
  position:absolute;
  left:1263px;
  top:389px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76718 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76719 {
  position:absolute;
  left:901px;
  top:463px;
  width:94px;
  height:24px;
  font-size:20px;
}
#u76720 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u76721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76722 {
  position:absolute;
  left:830px;
  top:460px;
  width:64px;
  height:30px;
}
#u76723 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76724 {
  position:absolute;
  left:834px;
  top:469px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76725 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76726 {
  position:absolute;
  left:1263px;
  top:460px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76727 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76728 {
  position:absolute;
  left:830px;
  top:511px;
  width:522px;
  height:1px;
}
#u76729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76730 {
  position:absolute;
  left:901px;
  top:537px;
  width:94px;
  height:24px;
  font-size:20px;
}
#u76731 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u76732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76733 {
  position:absolute;
  left:830px;
  top:534px;
  width:64px;
  height:30px;
}
#u76734 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76735 {
  position:absolute;
  left:834px;
  top:543px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76736 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76737 {
  position:absolute;
  left:1263px;
  top:534px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76738 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76739 {
  position:absolute;
  left:830px;
  top:589px;
  width:522px;
  height:1px;
}
#u76740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76741 {
  position:absolute;
  left:901px;
  top:615px;
  width:105px;
  height:24px;
  font-size:20px;
}
#u76742 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u76743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76744 {
  position:absolute;
  left:830px;
  top:612px;
  width:64px;
  height:30px;
}
#u76745 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76746 {
  position:absolute;
  left:834px;
  top:621px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76747 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76748 {
  position:absolute;
  left:1263px;
  top:612px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76749 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76750 {
  position:absolute;
  left:830px;
  top:660px;
  width:522px;
  height:1px;
}
#u76751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76752 {
  position:absolute;
  left:901px;
  top:686px;
  width:105px;
  height:24px;
  font-size:20px;
}
#u76753 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u76754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76755 {
  position:absolute;
  left:830px;
  top:683px;
  width:64px;
  height:30px;
}
#u76756 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76757 {
  position:absolute;
  left:834px;
  top:692px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76758 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76759 {
  position:absolute;
  left:1263px;
  top:683px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76760 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76761 {
  position:absolute;
  left:830px;
  top:730px;
  width:522px;
  height:1px;
}
#u76762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76763 {
  position:absolute;
  left:901px;
  top:756px;
  width:116px;
  height:24px;
  font-size:20px;
}
#u76764 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u76765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76766 {
  position:absolute;
  left:830px;
  top:753px;
  width:64px;
  height:30px;
}
#u76767 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76768 {
  position:absolute;
  left:834px;
  top:762px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76769 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76770 {
  position:absolute;
  left:1263px;
  top:753px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76771 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:2px;
}
#u76772 {
  position:absolute;
  left:830px;
  top:804px;
  width:522px;
  height:1px;
}
#u76773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76774 {
  position:absolute;
  left:901px;
  top:830px;
  width:116px;
  height:24px;
  font-size:20px;
}
#u76775 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u76776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u76777 {
  position:absolute;
  left:830px;
  top:827px;
  width:64px;
  height:30px;
}
#u76778 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76779 {
  position:absolute;
  left:834px;
  top:836px;
  width:57px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#A4B3C1;
  text-align:center;
}
#u76780 {
  position:absolute;
  left:0px;
  top:-10px;
  width:57px;
  word-wrap:break-word;
}
#u76781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
}
#u76781 {
  position:absolute;
  left:1263px;
  top:827px;
  width:70px;
  height:31px;
  font-size:16px;
}
#u76782 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u76783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u76783 {
  position:absolute;
  left:830px;
  top:890px;
  width:351px;
  height:16px;
  font-size:14px;
}
#u76784 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
