body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48463 {
  position:absolute;
  left:0px;
  top:45px;
  width:145px;
  height:138px;
}
#u48464 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48465 {
  position:absolute;
  left:331px;
  top:45px;
  width:145px;
  height:138px;
}
#u48466 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48467 {
  position:absolute;
  left:0px;
  top:210px;
  width:145px;
  height:138px;
}
#u48468 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48469 {
  position:absolute;
  left:331px;
  top:406px;
  width:145px;
  height:138px;
}
#u48470 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48471 {
  position:absolute;
  left:0px;
  top:406px;
  width:145px;
  height:138px;
}
#u48472 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48473 {
  position:absolute;
  left:331px;
  top:601px;
  width:145px;
  height:138px;
}
#u48474 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48475 {
  position:absolute;
  left:0px;
  top:601px;
  width:145px;
  height:138px;
}
#u48476 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u48477 {
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:24px;
  font-size:20px;
}
#u48478 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u48479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u48479 {
  position:absolute;
  left:384px;
  top:0px;
  width:40px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u48480 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48481 {
  position:absolute;
  left:0px;
  top:794px;
  width:145px;
  height:138px;
}
#u48482 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48483 {
  position:absolute;
  left:0px;
  top:983px;
  width:145px;
  height:138px;
}
#u48484 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48485 {
  position:absolute;
  left:331px;
  top:983px;
  width:145px;
  height:138px;
}
#u48486 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48487 {
  position:absolute;
  left:0px;
  top:1173px;
  width:145px;
  height:138px;
}
#u48488 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48489 {
  position:absolute;
  left:331px;
  top:1173px;
  width:145px;
  height:138px;
}
#u48490 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48491 {
  position:absolute;
  left:0px;
  top:1382px;
  width:145px;
  height:138px;
}
#u48492 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48493 {
  position:absolute;
  left:331px;
  top:1382px;
  width:145px;
  height:138px;
}
#u48494 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48495 {
  position:absolute;
  left:0px;
  top:1589px;
  width:145px;
  height:138px;
}
#u48496 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48497 {
  position:absolute;
  left:331px;
  top:1589px;
  width:145px;
  height:138px;
}
#u48498 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
#u48499 {
  position:absolute;
  left:145px;
  top:114px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48499_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48500 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48501 {
  position:absolute;
  left:145px;
  top:279px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48501_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u48501_seg1 {
  position:absolute;
  left:89px;
  top:-167px;
  width:8px;
  height:171px;
}
#u48502 {
  position:absolute;
  left:43px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48503 {
  position:absolute;
  left:145px;
  top:475px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48503_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48504 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48505 {
  position:absolute;
  left:145px;
  top:670px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48505_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48506 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48507 {
  position:absolute;
  left:145px;
  top:863px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48507_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48508 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48509 {
  position:absolute;
  left:145px;
  top:1052px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48509_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48510 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48511 {
  position:absolute;
  left:145px;
  top:1242px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48511_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48512 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48513 {
  position:absolute;
  left:145px;
  top:1451px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48514 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48515 {
  position:absolute;
  left:145px;
  top:1658px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48515_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:190px;
  height:8px;
}
#u48516 {
  position:absolute;
  left:43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:138px;
}
#u48517 {
  position:absolute;
  left:331px;
  top:794px;
  width:145px;
  height:138px;
}
#u48518 {
  position:absolute;
  left:2px;
  top:61px;
  width:141px;
  word-wrap:break-word;
}
