body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u9970 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u9971 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u9972 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u9973 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u9974 {
  position:absolute;
  left:70px;
  top:14px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9976 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u9977 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:90px;
}
#u9979 {
  position:absolute;
  left:39px;
  top:1058px;
  width:547px;
  height:90px;
}
#u9980 {
  position:absolute;
  left:2px;
  top:37px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u9981 {
  position:absolute;
  left:253px;
  top:1058px;
  width:110px;
  height:90px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9984 {
  position:absolute;
  left:71px;
  top:1063px;
  width:50px;
  height:50px;
}
#u9985 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u9986 {
  position:absolute;
  left:74px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u9987 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9989 {
  position:absolute;
  left:177px;
  top:1063px;
  width:50px;
  height:50px;
}
#u9990 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u9991 {
  position:absolute;
  left:182px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u9992 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9994 {
  position:absolute;
  left:283px;
  top:1063px;
  width:50px;
  height:50px;
}
#u9995 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u9996 {
  position:absolute;
  left:286px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u9997 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9999 {
  position:absolute;
  left:496px;
  top:1063px;
  width:50px;
  height:50px;
}
#u10000 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u10001 {
  position:absolute;
  left:501px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u10002 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10004 {
  position:absolute;
  left:390px;
  top:1063px;
  width:50px;
  height:50px;
}
#u10005 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u10006 {
  position:absolute;
  left:395px;
  top:1116px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
