body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u9116 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u9117 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u9118 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u9119 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u9120 {
  position:absolute;
  left:70px;
  top:14px;
  width:257px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u9121 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u9122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9122 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u9123 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
}
#u9124 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u9125 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:131px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9127 {
  position:absolute;
  left:236px;
  top:578px;
  width:162px;
  height:131px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u9128 {
  position:absolute;
  left:2px;
  top:58px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u9129 {
  position:absolute;
  left:251px;
  top:662px;
  width:132px;
  height:20px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u9130 {
  position:absolute;
  left:0px;
  top:-3px;
  width:132px;
  word-wrap:break-word;
}
#u9131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u9131 {
  position:absolute;
  left:297px;
  top:600px;
  width:41px;
  height:41px;
}
#u9132 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
