body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u18109 {
  position:absolute;
  left:10px;
  top:82px;
  width:614px;
  height:1205px;
}
#u18110 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u18111 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u18112 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u18113 {
  position:absolute;
  left:68px;
  top:12px;
  width:268px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u18114 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u18115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18115 {
  position:absolute;
  left:40px;
  top:178px;
  width:546px;
  height:970px;
}
#u18116 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18118 {
  position:absolute;
  left:47px;
  top:1088px;
  width:530px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u18119 {
  position:absolute;
  left:2px;
  top:17px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u18120 {
  position:absolute;
  left:95px;
  top:1096px;
  width:432px;
  height:38px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u18121 {
  position:absolute;
  left:0px;
  top:6px;
  width:432px;
  word-wrap:break-word;
}
#u18122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:114px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u18123 {
  position:absolute;
  left:47px;
  top:964px;
  width:530px;
  height:114px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u18124 {
  position:absolute;
  left:2px;
  top:49px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18126 {
  position:absolute;
  left:96px;
  top:982px;
  width:64px;
  height:64px;
}
#u18127 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18128 {
  position:absolute;
  left:100px;
  top:1000px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18129 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u18130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18131 {
  position:absolute;
  left:220px;
  top:982px;
  width:64px;
  height:64px;
}
#u18132 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18133 {
  position:absolute;
  left:224px;
  top:1000px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18134 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u18135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18136 {
  position:absolute;
  left:341px;
  top:982px;
  width:64px;
  height:64px;
}
#u18137 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18138 {
  position:absolute;
  left:345px;
  top:1000px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18139 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u18140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u18141 {
  position:absolute;
  left:464px;
  top:982px;
  width:64px;
  height:64px;
}
#u18142 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18143 {
  position:absolute;
  left:468px;
  top:1000px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#A4B3C1;
  text-align:center;
}
#u18144 {
  position:absolute;
  left:0px;
  top:-14px;
  width:57px;
  word-wrap:break-word;
}
#u18145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18145 {
  position:absolute;
  left:107px;
  top:1052px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u18146 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18147 {
  position:absolute;
  left:238px;
  top:1052px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u18148 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18149 {
  position:absolute;
  left:362px;
  top:1052px;
  width:23px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u18150 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u18151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18151 {
  position:absolute;
  left:482px;
  top:1052px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u18152 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
